/** Theme variables */

// Source: https://material.io/design/color/dark-theme.html

$body-bg-dark: $gray-800;
$body-overlay-dark: darken($body-bg-dark, 2.5%);
$border-dark: $gray-700;
$body-color-dark: #efeff3;
$dots-dark: darken($body-color-dark, 50%);

$link-color-dark: $gray-300;
$button-color-dark: lighten($red, 10%);

$alert-info-dark: #6f7a7d;
$alert-primary-dark: #7d7075;
$alert-warning-dark: #7d7870;

$navigate-dark: #88909b;
$navigate-link-dark: #dadbe3;
$navigate-link-dark-active: #dadbe3;
$feedback-background-dark: #202020;

/** Theme styles */

body.dark {
  background: $body-bg-dark;
  color: $body-color-dark;

  ::selection {
    background: #5a5a5a;
  }

  a {
    color: $link-color-dark;
  }

  .light-only {
    display: none;
  }

  .dark-only {
    display: unset;
  }

  a.text-body {
    color: $body-color-dark !important;
  }

  .btn-primary {
    @include button-variant($button-color-dark, $button-color-dark);
  }

  .btn-outline-dark {
    @include button-outline-variant($gray-400, $gray-400);

    &:hover {
      color: $black;
    }
  }

  .btn {
    &:hover {
      color: $body-bg-dark !important;
    }

    &:active {
      border: none;
      outline: none;
    }

    &.rounded {
      border: solid 2px $body-color-dark;

      &:hover {
        background: $body-color-dark !important;
      }
    }

    &.external {
      &::after {
        background: url(/icons/icon-external-white.svg) no-repeat center center;
      }

      &:hover {
        &::after {
          background: url(/icons/icon-external.svg) no-repeat center center;
        }
      }
    }


  }

  header {
    .navbar {
      #top-menu {
        background-color: $black;

        .navbar-nav {
          ul {
            &.dropdown-menu {
              background-color: $black;
              border: solid 1px $gray-700;

              li {
                border-top: 1px solid $gray-600;

                &:hover {
                  background-color: $gray-600;
                }

                a {
                  &.dropdown-item {
                    color: $white;

                    &:hover {
                      background-color: rgba(255, 255, 255, 0);
                    }

                    &:active {
                      background-color: $gray-600;
                    }

                    &.active {
                      background-color: $gray-600;

                      &::after {
                        content: url("/icons/check2.svg");
                      }
                    }
                  }
                }
              }

              &::-webkit-scrollbar-track{
                background: $gray-600;
              }

              &::-webkit-scrollbar-thumb{
                background: $gray-400;
              }

              &:hover {
                scrollbar-width: thin;
                scrollbar-color: $gray-600 $gray-300;
              }

              &::-webkit-scrollbar-thumb:hover {
                background: $gray-100;
              }
            }
          }
        }

        @include media-breakpoint-up(sm) {
          background: none;
        }
      }
    }
  }
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
    color: $navbar-dark-hover-color;
  }

  .navbar-light .navbar-nav .nav-link.disabled {
    color: $navbar-dark-disabled-color;
  }

  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .nav-link.active {
    color: $navbar-dark-active-color;
  }

  .alert-info {
    color: $white;
    background-color: $alert-info-dark;

    a,
    .alert-link {
      color: $white;
    }

    .r3-o-icon-note {
      &::before {
        content: url("/icons/info-white.svg");
      }
    }
  }

  .alert-warning {
    background: $alert-warning-dark;
    color: $white;

    a,
    .alert-link {
      color: $white;
    }

    .r3-o-icon-warning {
      &::before {
        content: url("/icons/warning-white.svg");
      }
    }
  }

  .alert-primary {
    color: $white;
    background-color: $alert-primary-dark;

    a,
    .alert-link {
      color: $white;
    }

    .r3-o-icon-important {
      &::before {
        content: url("/icons/important-white.svg");
      }
    }
  }

  .page-links a {
    color: $body-color-dark;
  }

  .docs-toc {
    .page-links a {
      color: $navigate-link-dark;
    }
  }

  .showcase-meta a {
    color: $body-color-dark;
  }

  .showcase-meta a:hover,
  .showcase-meta a:focus {
    color: $link-color-dark;
  }

  .docs-link:hover,
  .docs-link.active,
  .page-links a:hover {
    text-decoration: underline;
    color: $link-color-dark;
  }

  .navbar-light .navbar-text a {
    color: $navbar-dark-active-color;
  }

  .docs-links h3.sidebar-link a,
  .page-links h3.sidebar-link a {
    color: $body-color-dark;
  }

  .docs-links {
    li {
      button {
        color: $body-color-dark;

        &::before {
          content: url("/icons/icon-arrow-down-white.svg");
        }
      }

      &.active-page > button {
        color: $navigate-link-dark-active;
      }
    }

    a {
      &.docs-link {
        color: $body-color-dark;

        &:hover,
        &.active,
        &:hover {
          color: $navigate-link-dark-active;
        }
      }
    }

    div {
      &.sub-menu {
        .sub-menu {
          border-left: 1px solid $gray-600;
        }
      }
    }
  }

  .navbar-light .navbar-text a:hover,
  .navbar-light .navbar-text a:focus {
    color: $navbar-dark-active-color;
  }

  .content .btn-link {
    color: $link-color-dark;
  }

  .content .btn-link:hover {
    color: $link-color-dark;
  }

  .navbar .btn-link:hover {
    color: $navbar-dark-hover-color;
  }

  .navbar .btn-link:active {
    color: $navbar-dark-active-color;
  }

  .docs-sidebar {
    order: 0;
    background-color: darken($body-bg-dark, 4%);

    &.show {
      background-color: $background-shadow;

      .docs-sidebar-content {
        background-color: darken($body-bg-dark, 4%);
      }
    }
  }

  .docs-navigation {
    border-top: 2px solid $gray-600;
    color: $navigate-dark;

    a {
      color: $navigate-link-dark;

      svg {
        stroke: $navigate-link-dark;

        path {
          stroke: $navigate-link-dark;
        }
      }

      &:hover,
      &:active {
        color: $navigate-link-dark-active;

        svg {
          path {
            stroke: $navigate-link-dark-active;
          }
        }
      }
    }
  }

  pre code::-webkit-scrollbar-thumb:hover {
    background: $border-dark;
  }

  .docs-feedback {
    border-top: 2px solid $gray-600;

    h3 {
      background-color: $body-bg-dark;
    }

    #opinion-like,
    #opinion-dislike {
      .card {
        background-color: $feedback-background-dark;

        .card-footer {
          a {
            color: $body-color-dark;
          }
        }
      }
    }
  }

  pre code::-webkit-scrollbar-thumb {
    background: $border-dark;
  }

  code:not(.hljs) {
    background: $gray-500;
    color: $body-color-dark;
  }

  pre code:hover {
    scrollbar-width: thin;
    scrollbar-color: $border-dark transparent;
  }

  pre code::-webkit-scrollbar-thumb:hover {
    background: $border-dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    pre,
    code,
    kbd,
    samp {
      font-size: inherit;
    }
  }

  blockquote {
    border-left: 3px solid $border-dark;
  }

  .docs-toc .page-links {
    border-color: $gray-600;
  }

  .docs-links::-webkit-scrollbar-track,
  .docs-toc::-webkit-scrollbar-track {
    background: $gray-600
  }

  .docs-links::-webkit-scrollbar-thumb,
  .docs-toc::-webkit-scrollbar-thumb {
    background: $gray-400
  }

  .docs-links:hover::-webkit-scrollbar-thumb,
  .docs-toc:hover::-webkit-scrollbar-thumb {
    background: $gray-300
  }

  .docs-links::-webkit-scrollbar-thumb:hover,
  .docs-toc::-webkit-scrollbar-thumb:hover {
    background: $gray-100
  }

  .card {
    background: $body-overlay-dark;
    border-color: $border-dark;
    box-shadow: none;

    svg {
      stroke: $border-dark;
    }

    li::before {
      content: url(icons/file-text-alt.svg);
    }

    li a {
      color: $gray-100;
    }

    .card-title a,
    .btn-outline-dark {
      color: $gray-400;
    }

    a {
      color: lighten($gray-600, 10%);
    }
  }

  .feather {
    stroke: $gray-100;
  }

  .support-container {
    background: $body-overlay-dark;
    box-shadow: none;
  }

  .card.bg-light {
    background: $body-overlay-dark !important;
  }

  .logo-light {
    display: none !important;
  }

  .logo-dark {
    display: inline-block !important;
  }

  .bg-light,
  .bg-light-gray {
    background: lighten($body-bg-dark, 3%) !important;
  }

  .bg-dots {
    background-image: radial-gradient($dots-dark 15%, transparent 15%);
  }

  .text-muted {
    color: darken($body-color-dark, 7.5%) !important;
  }

  .figure-caption {
    color: $body-color-dark;
  }

  table,
  .table {
    @extend .table-dark;

    > :not(caption) > * > * {
      background-color: $body-bg-dark;
      border-bottom: 1px solid $gray-600;
    }

    thead {
      tr {
        border-bottom: 2px solid $gray-600;
      }
    }

    tbody {
      tr {
        &:nth-child(2n+1) {
          background-color: $gray-500;
        }
      }
    }
  }


  .copy-status::after {
    content: "Copy";
    display: block;
    color: $body-color-dark;
  }

  .copy-status:hover::after {
    content: "Copy";
    display: block;
    color: $link-color-dark;
  }

  .copy-status:focus::after,
  .copy-status:active::after {
    content: "Copied";
    display: block;
    color: $link-color-dark;
  }

  .light-form .form-control.is-search {
    background: $gray-800;
    border-color: $gray-600;
    color: $gray-200;
  }

  #suggestions {
    background-color: $black;

    a {
      color: white;

      span {
        color: white;
      }

      &:hover {
        background-color: $gray-700;
      }
    }
  }

  footer {
    background-color: $body-overlay-dark;
  }

  #cookies-eu-banner {
    background-color: $body-overlay-dark;
    border: solid 2px $gray-500;
  }

  main > nav[aria-label="breadcrumb"] {
    position: relative;
  
    @include media-breakpoint-up(md) {
      position: sticky;
      top: 150.5px;
      background-color: $body-bg-dark;
      width: 100%;
      padding: 2px;
      z-index: 900;
      border-bottom: solid 1px $gray-200;
     }
  }
}
