.contributors .content,
.blog .content,
.page .content,
.error404 .content,
.docs.list .content,
.tutorial.list .content,
.showcase.list .content {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

h1,
.h1,{
  margin: 2rem 0 1rem;
  font-weight: 600;
  border-bottom: solid 3.0px $gray-200;
  padding-bottom: 0.25rem;
}

h2,
.h2, {
  margin: 2rem 0 1rem;
  font-weight: 600;
  border-bottom: solid 1px $gray-200;
  padding-bottom: 0.25rem;
}

h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 2rem 0 1rem;
  font-weight: 600;
}

.fw-semibold {
  font-weight: $semibold-font-weight;
}

@include media-breakpoint-up(md) {
  body {
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    scroll-margin-top: 155px;
    margin-bottom: 1.125rem;
  }
}

.home h1 {
  /* font-size: calc(1.375rem + 1.5vw); */
  font-size: calc(1.875rem + 1.5vw);
}

a:hover,
a:focus {
  text-decoration: underline;
}

a.btn:hover,
a.btn:focus {
  text-decoration: none;
}

.light-only {
  display: unset;
}

.dark-only {
  display: none;
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-md {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-link {
  outline: none;
}

/*
.section svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}
*/

body {

}

.docs-sidebar {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: $gray-300;
  padding: 0 0 0 1.2rem;
  min-height: calc(100vh - 24rem);

  &.show {
    position: fixed;
    z-index: 900;
    height: calc(100vh - 4rem);
    background-color: $background-shadow;
    width: 100%;
    padding: 0;

    .docs-sidebar-content {
      background-color: $gray-300;
      padding-left: 2rem;
      height: 100%;
    }

    .docs-links {
      height: 100%;
      overflow: auto;
    }

    & ~ main {
      position: relative;
    }
  }

  @include media-breakpoint-up(lg) {
    flex: 0 1 30%;
    position: initial;
  }

  @include media-breakpoint-up(xl) {
    flex: 0 1 313px;
  }
}

.docs-links {
  padding-top: 1rem;
  padding-bottom: 7rem;
  padding-right: .75rem;
  margin-bottom: 320px;
}

@include media-breakpoint-up(lg) {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .docs-links {
      padding-bottom: 4rem;
      max-height: inherit;
      overflow-y: auto;
    }
  }
}

@include media-breakpoint-up(lg) {
  .docs-links {
    display: block;
    width: auto;
  }
}

.docs-toc {
  order: 2;

  .page-links {
    border-left: solid 1px $gray-200;
    padding-left: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .docs-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 12rem;
    height: calc(100vh - 16rem);
    overflow-y: auto;
    padding-bottom: 10rem;
  }
}

.docs-content {
  padding-bottom: 4rem;
  order: 1;
  word-break: break-word;

  a {
    color: $gray-900;
    text-decoration: underline;
    padding-right: 1.5px;
  }

  img {
    max-width: 100%;
    background: $white;
    padding: 0.5rem;
    border: solid 1px $gray-200;
    border-radius: 0.25rem;
  }
}

.docs-navigation {
  border-top: 2px solid $gray-200;
  font-size: $font-size-sm;
  font-weight: 600;
  color: $gray-600;

  a {
    text-decoration: none;
    color: $gray-800;

    svg {
      path {
        stroke: $gray-800;
      }
    }

    &:hover,
    &:active {
      color: $red;

      svg {
        path {
          stroke: $red;
        }
      }
    }
  }
}

.docs-feedback {
  text-align: center;
  border-top: 2px solid $gray-200;
  margin-top: 3rem;
  margin-bottom: 1.5rem;

  h3 {
    font-size: 1.125rem;
    font-weight: 600;
    background-color: $white;
    padding: 0 1rem;
    margin: -0.75rem auto 1rem;
  }

  h4 {
    font-size: 1.125rem;
    margin: 0.25rem auto 2.25rem;
    font-weight: 400;
  }

  .opinion {
    margin-bottom: 1rem;

    button {
      border: none;
      background: none;
      width: 3.25rem;
      height: 3.25rem;
      margin: 0.75rem;
      padding: 0;

      img {
        width: 3rem;
        height: 3rem;
        background: none;
        padding: 0;
        border: none;
        border-radius: 0;
      }

      &:hover {

        img {
          width: 3.25rem;
          height: 3.25rem;
        }
      }
    }
  }

  #opinion-like,
  #opinion-dislike {
    .card {
      border-top: none;
      align-items: center;
      gap: 16px;
      border-radius: 4px;
      box-shadow: 0 8px 16px 0 rgba(17, 17, 17, 0.06);
      background-color: $white;

      .card-body {
        padding: 1rem 2.5rem 0;
      }

      h5 {
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      .card-footer {
        background: none;
        border: none;
        border-radius: unset;
        padding: 0 0 2.5rem;

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.navbar a:hover,
.navbar a:focus {
  text-decoration: none;
}

#TableOfContents ul {
  padding-left: 0;
  list-style: none;

  li {
    margin-bottom: 0.25rem;
  }
}

::selection {
  background: $submenu-bar-color;
}

.bg-dots {
  background-image: radial-gradient($gray-300 15%, transparent 15%);
  background-position: 0 0;
  background-size: 1rem 1rem;
  -webkit-mask: linear-gradient(to top, #fff, transparent);
  mask: linear-gradient(to top, #fff, transparent);
  width: 100%;
  height: 9rem;
  margin-top: -10rem;
  z-index: -1;
}

.bg-dots-md {
  margin-top: -11rem;
}

.bg-dots-lg {
  margin-top: -12rem;
}

.badge {
  font-weight: 400;
  font-size: $font-size-xs;

  &.docs {
    font-size: $font-size-sm;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.25px;
    text-align: left;
    color: #efeff3;
    padding: 0.25rem 0.5rem;
  }
}

.bg-light-gray {
  background-color: $gray-300;
  margin-top: 5rem;
  padding: 2.5rem 3rem 3rem 3rem;
  border-radius: 4px;
}

figcaption { 
  text-align: center;
  font-style: italic;
  font-size: small;
  color: #53585f;
}

figure {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.docs-sidebar-content {
  position: fixed;
  height: 100%;
  width: 300px;
  overflow: auto;
}

.footer {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

details > summary {
  list-style-type: '[...]';
}

details[open] > summary {
  list-style-type: none;
}

details {
  display: inline-block;
}
