---
date: '2023-12-15'
section_menu: corda-enterprise-4-12
menu:
  corda-enterprise-4-12:
    identifier: corda-enterprise-4-12-backchain-verification
    parent: corda-enterprise-4-12-monitoring-logging
tags:
- backchain
- tuv
- transaction validator utility
title: Backchain verification
weight: 100
---

# Backchain verification
