/** Import Bootstrap functions */
@import "bootstrap/scss/functions";

/** Import theme variables */
@import "common/variables";

/** Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/** Import highlight.js */
@import "highlight.js/scss/default";
@import "highlight.js/styles/base16/dracula";

/** Import KaTeX */
@import "katex/dist/katex";

/** Import theme styles */
@import "common/fonts";
@import "common/global";
@import "common/dark";
@import "components/doks";
// @import "components/syntax";
@import "components/cards";
@import "components/code";
@import "components/alerts";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/images";
@import "components/search";
@import "components/tables";
@import "components/tabs";
@import "components/cookies";

@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/sidebar";


@import "layouts/home";
