{{ $images := $.Resources.ByType "image" }}
{{ $featured := $images.GetMatch "*feature*" }}
{{ if not $featured }}
    {{/* If no image featured for the page, generate an image that includes the pages title */}}
    {{ $size := 80 }}
    {{ $title := $.Title }}
    {{ $x := 600 }}
    {{ $y := 300 }}
    {{ if gt (len $title) 30 }}
        {{ $size = 70 }}
        {{ $x = 400 }}
        {{ $y = 200 }}
    {{ end }}
    {{ $textOptions := dict 
        "size" $size
        "x" $x "y" $y
        "lineSpacing" 10
        "font" (resources.Get "Poppins SemiBold 600.ttf")
    }}

    {{ $filter := images.Text $title $textOptions }}

    {{ $blank := resources.Get "images/r3-docs-open-graph-dynamic.png" }}
    {{ $featured = $blank.Filter $filter }}

{{ end -}}

{{ return $featured }}