
<script type="text/javascript">
  {{ if .Site.Params.options.algolia -}}
    const algolia_appId = "{{ .Site.Params.algolia_appId }}";
    const algolia_apiKey = "{{ .Site.Params.algolia_apiKey }}";
    const algolia_index = "{{ .Site.Params.algolia_index }}";

    {{ if eq .IsHome true }}
      window.facetFilters = [
        ['project:corda', 'project:releases', 'project:get-started', 'project:tutorials', 'project:samples', 'project:api-ref', 'project:apps', 'project:tools', 'project:announcements', 'project:conclave'],
        ['version:Open source 4.8', 'version:Enterprise 4.8', 'version:CENM 1.5', 'version:Corda 5 Developer Preview', 'version:Corda index', 'version:releases', 'version:get-started', 'version:tutorials', 'version:samples', 'version:api-ref', 'version:apps', 'version:tools', 'version:announcements', 'version:conclave'],
        'language:en'
      ];

    {{ end }}
  {{ end -}}

  const google_analytics_id = "{{ .Site.Params.googleAnalytics }}";

</script>

{{ if eq .IsHome true }}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
{{ end }}
