<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleTagManagerID }}"></script>

<script type="text/javascript">
  {{ if .Site.Params.options.algolia -}}
    const algolia_appId = "{{ .Site.Params.algolia_appId }}";
    const algolia_apiKey = "{{ .Site.Params.algolia_apiKey }}";
    const algolia_index = "{{ .Site.Params.algolia_index }}";

    {{ if eq .IsHome true }}
      window.facetFilters = [
        ['project:corda', 'project:releases', 'project:get-started', 'project:tutorials', 'project:samples', 'project:api-ref', 'project:apps', 'project:tools', 'project:announcements', 'project:conclave'],
        ['version:Community Edition 4.9', 'version:Enterprise 4.9', 'version:CENM 1.5', 'version:Corda 5 Developer Preview 2'],
        'language:en'
      ];

    {{ else if eq .Parent.Page.Params.project ""}}
      {{ $project := .Page.Params.project}}
      {{ $version := .Page.Params.version}}
      window.facetFilters = [
        ['project:{{- $project -}}'],
        ['version:nil'],
        'language:en'
      ];

      {{ else }}
        {{ $project := .Parent.Page.Params.project}}
        {{ $version := .Parent.Page.Params.version}}
        window.facetFilters = [
          ['project:{{- $project -}}'],
          ['version:notnil'],
          'language:en'
        ];
    {{ end }}
  {{ end -}}

  const google_tag_manager_id = "{{ .Site.Params.googleTagManagerID }}";

</script>

{{ if eq .IsHome true }}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
{{ end }}
