<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleTagManagerID }}"></script>

<script type="text/javascript">
  const algolia_appId = "{{ .Site.Params.algolia_appId }}";
  const algolia_apiKey = "{{ .Site.Params.algolia_apiKey }}";
  const algolia_index = "{{ .Site.Params.algolia_index }}";
  const google_tag_manager_id = "{{ .Site.Params.googleTagManagerID }}";

</script>

{{ if eq .IsHome true }}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
{{ end }}
