{{ define "main" }}
<main>
  <section class="section" id="home-introduce">
    <h1>
      R3 Technical Documentation
    </h1>
    <p class="subtitle">Find docs, tutorials, sample code, and API references for Corda and Conclave.</p>

    <div id="home-search">
      <form class="navbar-form order-lg-4 order-0">
        {{ if .Site.Params.options.flexSearch -}}
          <input id="userinput" class="form-control is-search rounded-pill" type="search" placeholder="Search the docs" aria-label="Search the docs" autocomplete="off">
          <button class="btn_search">
            <img src="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'><circle cx='11' cy='11' r='8'></circle><line x1='21' y1='21' x2='16.65' y2='16.65'></line></svg>">
          </button>
          <div id="suggestions" class="shadow rounded"></div>
        {{ end -}}

        {{ if .Site.Params.options.algolia -}}
          <input id="search-input" class="form-control is-search rounded-pill" type="search" placeholder="Search the documentation..." aria-label="Search the documentation..." autocomplete="off">
          <button class="btn_search">
            <img src="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'><circle cx='11' cy='11' r='8'></circle><line x1='21' y1='21' x2='16.65' y2='16.65'></line></svg>">
          </button>
        {{ end -}}

      </form>
    </div>
  </section>

  <section class="section">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-5">
        <div class="col">
          <div class="card h-90">
            <div class="card-body">
              <h3 class="card-title">
                <a href="en/get-started.html">
                  <img src='{{ "icons/agenda-bookmark.svg" | relURL }}' alt="Get started"  height="48" class="light-only">
                  <img src='{{ "icons/agenda-bookmark-white.svg" | relURL }}' alt="Get started"  height="48" class="dark-only">
                </a>
                <span>Get started</span></h3>
              <p>Learn <a href="/en/platform/corda/4.8/open-source/key-concepts.html" class="fw-semibold">key concepts</a> and get set up for <a href="en/platform/corda/5.0-dev-preview-2/getting-started/get-started.html" class="fw-semibold">Corda 5 Dev Preview</a>, <a href="en/get-started/getting-started-with-corda-4.html" class="fw-semibold">Corda 4</a>, or <a href="https://docs.conclave.net" class="fw-semibold" target=_blank>Conclave</a>.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-90">
            <div class="card-body">
              <h3 class="card-title">
                <a href="en/tutorials.html">
                  <img src='{{ "icons/document.svg" | relURL }}' alt="Tutorials"  height="48" class="light-only">
                  <img src='{{ "icons/document-white.svg" | relURL }}' alt="Tutorials"  height="48" class="dark-only">
                </a>
                <span>Tutorials</span></h3>
              <p>Try the <a href="en/platform/corda/5.0-dev-preview-2/getting-started/cordapp-standard-development-environment/csde.html" class="fw-semibold">Corda 5 CorDapp Standard Development Environment (CSDE)</a> or <a href="en/tutorials/corda/4.9/community/overview.html" class="fw-semibold"> Corda 4 tutorials</a>.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-90">
            <div class="card-body">
              <h3 class="card-title">
                <a href="en/samples.html">
                  <img src='{{ "icons/bullet-list.svg" | relURL }}' alt="Samples and templates"  height="48" class="light-only">
                  <img src='{{ "icons/bullet-list-white.svg" | relURL }}' alt="Samples and templates"  height="48" class="dark-only">
                </a>
                <span>Samples & templates</span></h3>
              <p>Try out <a href="en/samples.html" class="fw-semibold">code samples</a> and start developing quickly with <a href="en/samples.html" class="fw-semibold">CorDapp templates</a>.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-90">
            <div class="card-body">
              <h3 class="card-title">
                <a href="en/release-notes.html">
                  <img src='{{ "icons/grammar-check.svg" | relURL }}' alt="Releases"  height="48" class="light-only">
                  <img src='{{ "icons/grammar-check-white.svg" | relURL }}' alt="Releases"  height="48" class="dark-only">
                </a>
                <span>Releases</span></h3>
              <p>View <a href="en/release-notes.html" class="fw-semibold">release notes</a> and associated checksum files and license information. </p>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="carousel-btns d-none">
          <button class="slick-prev slick-arrow">Previous</button>
          <button class="slick-next slick-arrow">Next</button>
          <ul class="slick-dots"></ul>
        </div>

        <div id="home-carousel">
          <div class="item">
            <div class="slide">
              <a href="en/platform/corda/5.0-dev-preview-2.html">
                <img src='{{ "images/home-page-carousel-001-c5-dev-preview1.png" }}' alt="Corda 5 Developer Preview">
              </a>
              <div class="d-inline-block">
                <h5>Discover the Corda 5 Developer Preview 2!</h5>
                <p>Build and deploy CorDapps locally with a preview version of Corda 5.</p>
                <p>Experiment with the new modular API, HTTPS node interaction, and CorDapp packaging.</p>
                <a href="en/platform/corda/5.0-dev-preview-2.html">Start building your test CorDapp</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="slide">
              <a href="https://developer.r3.com/" target="_blank">
                <img src='{{ "images/home-page-carousel-002-dev-platform.png" }}' alt="R3 Developer Platform">
              </a>
              <div class="d-inline-block">
                <h5>Join the R3 Developer Platform</h5>
                <p>Join the most powerful blockchain and confidential computing community for developers.</p>
                <p>You'll find developer resources, open source
                  projects, and support from R3 developers.</p>
                <a href="https://developer.r3.com/" target="_blank">Join the R3 Developer Platform</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-5">
      <div class="col">
        <div class="card no-border h-100">
          <div class="card-body">
            <h3 class="card-title">Corda 5 Developer Preview 2</h3>
            <p>Build and deploy CorDapps locally with this preview version of Corda 5. Experiment with the new modular
              API, HTTPS node interaction, and CorDapp packaging.</p>
          </div>
          <div class="card-footer">
            <a href="en/platform/corda/5.0-dev-preview-2.html" class="btn rounded">Start building</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card no-border h-100">
          <div class="card-body">
            <h3 class="card-title">Corda 4</h3>
            <p>Everything you need to know about the Corda 4 platform series - read the comprehensive documentation sets for:</p>
            <ul>
              <li style="text-align: left;"><a href="en/platform/corda/4.9/enterprise.html">Corda Enterprise 4.9</a></li>
              <li style="text-align: left;"><a href="en/platform/corda/4.8/open-source.html">Corda OS 4.8</a></li>
              <li style="text-align: left;"><a href="en/platform/corda/1.5/cenm.html">CENM 1.5</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card no-border h-100">
          <div class="card-body">
            <h3 class="card-title">API reference</h3>
            <p>Javadocs and KDocs for all publicly-exposed APIs in the Corda 5 Developer Preview and Corda 4 series: Corda OS, Corda Enterprise, and Corda Enterprise Network Manager (CENM).</p>
          </div>
          <div class="card-footer">
            <a href="en/api-ref.html" class="btn rounded external">API references</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card no-border h-100">
          <div class="card-body">
            <h3 class="card-title">Featured apps</h3>
            <p>Early-version apps to explore new possibilities on Corda.</p>
          </div>
          <div class="card-footer">
            <a href="en/apps.html" class="btn rounded external">Explore apps</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card no-border h-100">
          <div class="card-body">
            <h3 class="card-title">Tools and add-ons</h3>
            <p>Supercharge your Corda operations and CorDapp design and development with extras. Find the Tokens SDK, Accounts Library, CorDapp Design Language, node and flow management consoles, and more.</p>
          </div>
          <div class="card-footer">
            <a href="en/tools.html" class="btn rounded">Explore tools and add-ons</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card no-border h-100">
          <div class="card-body">
            <h3 class="card-title">Conclave</h3>
            <p>Conclave is R3's confidential computing platform. Use it to securely pool and process sensitive data from multiple parties.</p>
          </div>
          <div class="card-footer">
            <a href="en/platform/conclave.html" class="btn rounded external">Discover Conclave</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card no-border h-100">
          <div class="card-body">
            <h3 class="card-title">R3 Developer Platform</h3>
            <p>Join the new R3 Developer Platform - the most powerful blockchain and confidential computing community for developers.</p>
          </div>
          <div class="card-footer">
            <a href="https://developer.r3.com" target="_blank" class="btn rounded external">Join R3 Developers</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card no-border h-100">
          <div class="card-body">
            <h3 class="card-title">Featured: CorDapp Design Language</h3>
            <p>CorDapp Design Language (CDL) is a set of diagrammatic views you can use to concisely and accurately guide the design of your CorDapp.</p>
          </div>
          <div class="card-footer">
            <a href="en/tools/cdl/cdl-index.html" class="btn rounded external">Read the CDL docs</a>
          </div>
        </div>
      </div>
    </div>

  </section>

</main>
{{ end }}
