{{ define "main" }}
<section class="section container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a href="/discover.html">Discover Corda 5</a></h3>
          <p class="card-text mt-3"><!-- {{ .Params.lead | safeHTML }} -->Discover the latest and greatest Corda release! You'll remain beautiful for all time, but your Corda implementation will become increasingly complex and arcane.</p>
          <ul class="p-0">
            <li><a href="/">Corda 5 overview</a></li>
            <li><a href="/">Corda 5 tutorials</a></li>
            <li><a href="platform/corda/5.0-dev-preview-1.html/">All Corda 5 platform docs</a></li>
          </ul>
          <a href="{{ .Permalink }}" class="fw-semibold">Get started with Corda 5</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a href="/getting-started.html">Getting started</a></h3>
          <p class="card-text mt-3"><!-- {{ .Params.lead | safeHTML }} -->Get started learning about Corda and what our platform can offer you.</p>
            <ul class="p-0">
              <li><a href="/">What is Corda?</a></li>
              <li><a href="/">Corda concepts</a></li>
              <li><a href="/">Getting started with Corda 5</a></li>
              <li><a href="/">Getting started with Corda 4</a></li>
            </ul>
            <a href="{{ .Permalink }}" class="fw-semibold">Read more about how Corda works</a>
          </div>
        </div>
      </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a href="/tutorials.html">Tutorials</a></h3>
          <p class="card-text mt-3"><!-- {{ .Params.lead | safeHTML }} -->Learn how to create your Corda solution!</p>
          <ul class="p-0">
            <li><a href="/">Corda 5 Learning guide</a></li>
            <li><a href="/">Corda 5: Hello, World!</a></li>
            <li><a href="/">Corda 5: Setting up a local network</a></li>
          </ul>
          <a href="{{ .Permalink }}" class="fw-semibold">Explore all Corda tutorials</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a href="/platform/corda.html">Corda Platform Docs</a></h3>
          <p class="card-text mt-3"><!-- {{ .Params.lead | safeHTML }} -->Explore core documentation for releases of the Corda platform.</p>
          <ul class="p-0">
            <li><a href="/platform/corda/5.0-dev-preview-1.html">Corda 5</a></li>
            <ul><li><a href="/platform/corda/5.0-dev-preview-1.html">Developer preview 1</a></li>
            <li><a href="/">Developer preview 2</a></li>
            <li><a href="/">Corda 5.0</a></li></ul>
            <li><a href="/platform/corda/4.8/ent.html">Corda 4</a></li>
            <ul><li><a href="/platform/corda/4.8/ent.html">Corda Enterprise 4.8</a></li>
            <li><a href="/platform/corda/4.8/os.html">Corda OS 4.8</a></li>
            <li><a href="/platform/corda/1.5/cenm.html">Corda Enterprise Network Manager</a></li></ul>
          </ul>
          <a href="/platform/corda.html" class="fw-semibold">Explore all Corda platform documentation</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a href="/apps.html">Apps and add-ons</a></h3>
          <p class="card-text mt-3"><!-- {{ .Params.lead | safeHTML }} -->Things that you can take and use with your implementation of Corda.</p>
          <ul class="p-0">
            <li><a href="/">Corda 4: Bank in a box</a></li>
            <li><a href="/">Corda 4: Collaborative Recovery</a></li>
            <li><a href="/">Corda 4: Ledgergraph</a></li>
            <li><a href="/">Corda 4: Archiving Service</a></li>
            <li><a href="/">Corda 4: Reissuance</a></li>
          </ul>
          <a href="{{ .Permalink }}" class="fw-semibold">Explore all Corda add-ons</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a href="/tools.html">Tools and utilities</a></h3>
          <p class="card-text mt-3"><!-- {{ .Params.lead | safeHTML }} --> </p>
          <ul class="p-0">
            <li><a href="/">Tokens SDK</a></li>
            <li><a href="/">CDL</a></li>
            <li><a href="/">Node Management Console</a></li>
            <li><a href="/">Flow Management Console</a></li>
            <li><a href="/">Business Network Extension</a></li>
            <li><a href="/">Accounts</a></li>
            <li><a href="/">Gateway Services</a></li>
          </ul>
          <a href="{{ .Permalink }}" class="fw-semibold">Explore Corda tools and utilities</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a href="{{ .Permalink }}">API reference</a></h3>
          <p class="card-text mt-3"><!-- {{ .Params.lead | safeHTML }} --> </p>
          <ul class="p-0">
            <li><a href="/">Corda 5 APIs</a></li>
            <li><a href="/">Corda 4.8 APIs</a></li>
            <li><a href="/">Other Corda 4 APIs</a></li>
          </ul>
          <a href="{{ .Permalink }}" class="fw-semibold">Explore All Corda APIs</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a href="{{ .Permalink }}">Examples and best practices</a></h3>
          <p class="card-text mt-3"><!-- {{ .Params.lead | safeHTML }} --> </p>
          <ul class="p-0">
            <li><a href="/">Some example code</a></li>
            <li><a href="/">Some other example code</a></li>
            <li><a href="/">Corda code car</a></li>
            <li><a href="/">Corda diamonds</a></li>
          </ul>
          <a href="{{ .Permalink }}" class="fw-semibold">All Corda code samples</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a href="/release-notes.html">Release notes</a></h3>
          <p class="card-text mt-3"><!-- {{ .Params.lead | safeHTML }} --> </p>
          <ul class="p-0">
            <li><a href="/">Corda 5 dev preview</a></li>
            <li><a href="/">Corda Enterprise 4.8</a></li>
            <li><a href="/">Corda OS 4.8</a></li>
          </ul>
          <a href="{{ .Permalink }}" class="fw-semibold">Read all of our release notes</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a href="{{ .Permalink }}">Documentation Archive</a></h3>

        </div>
      </div>
    </div>
<!--
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a href="{{ .Permalink }}">Managed Services</a></h3>
          <p class="card-text mt-3"><!-- {{ .Params.lead | safeHTML }} These services are so managed that even we have forgotten how they work.</p>
          <ul class="p-0">
            <li><a href="/">Managed node</a></li>
            <li><a href="/">Managed notary</a></li>
          </ul>
          <a href="{{ .Permalink }}" class="fw-semibold">Explore all managed services documentation</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a href="{{ .Permalink }}">Conclave</a></h3>
          <p class="card-text mt-3"><!-- {{ .Params.lead | safeHTML }}</p>
          <ul class="p-0">
            <li><a href="/">Managed node</a></li>
            <li><a href="/">Managed notary</a></li>
          </ul>
          <a href="{{ .Permalink }}" class="fw-semibold">Explore all managed services documentation</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a href="{{ .Permalink }}">Troubleshooting & FAQ</a></h3>
          <p class="card-text mt-3"><!-- {{ .Params.lead | safeHTML }} </p>
          <ul class="p-0">
            <li><a href="/">Where is my data</a></li>
            <li><a href="/">Why doesn't my node work</a></li>
            <li><a href="/">What is going on</a></li>
          </ul>
          <a href="{{ .Permalink }}" class="fw-semibold">Explore all managed services documentation</a>
        </div>
      </div>
    </div>
-->

  </div>
</section>
{{ end }}
