$note-class: "#{$class-object-prefix}note";

.#{$note-class} {
    @extend .alert;
    @extend .alert-info;
    border-left: 0.5rem solid theme-color-level(info);

    img {
        float:left;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
