<!DOCTYPE html>
<html{{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
    {{ partial "head.html" . }}
    <body>
        <noscript>You need to enable javascript for this site</noscript>
        {{- partial "navbar.html" . -}}
        <div class="container-fluid">
            <div class="r3-o-wrapper-main row flex-xl-nowrap">
                <div class="r3-o-wrapper-side col-12 col-md-3 col-xl-2">
                    {{- partial "sidebar.html" . -}}
                </div>
                <div class="col-md-9 p-4    col-12 col-md-9 col-xl-10 ">
                    {{- block "main" . -}}{{- end -}}
                </div>
            </div>
            {{- partial "footer.html" . -}}
        </div>
        {{- partial "scripts.html" . -}}
    </body>
</html>
