<!DOCTYPE html>
<html{{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
    {{ partial "head.html" . }}
    <body>
        <noscript>You need to enable javascript for this site</noscript>
        {{- partial "navbar.html" . -}}
        <div class="container-fluid">
            <div class="row flex-xl-nowrap">
                <div class="col-md-3 col-xl-2 bd-sidebar">
                    <form role="search" class="bd-search d-flex align-items-center">
            <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
                <input type="search" class="form-control ds-input" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" data-docs-version="4.4" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
                <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
                <span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; left: 0px; right: auto; display: none;"><div class="ds-dataset-1"></div>
                </span>
            </span>
            <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false">
                    <title>Menu</title>
                    <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
                </svg>
            </button>
          </form>

          <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation"><div class="bd-toc-item active">
                <a class="bd-toc-link" href="/docs/4.4/getting-started/introduction/">
                  Getting started
                </a>

                <ul class="nav bd-sidenav">
                    <li class="active bd-sidenav-active">
                      <a href="/docs/4.4/getting-started/introduction/">
                        Introduction
                      </a>
                    </li>
                    <li>
                      <a href="/docs/4.4/getting-started/download/">
                        Download
                      </a>
                    </li>
                    <li>
                      <a href="/docs/4.4/getting-started/contents/">
                        Contents
                      </a>
                    </li><li>
                      <a href="/docs/4.4/getting-started/browsers-devices/">
                        Browsers &amp; devices
                      </a>
                    </li><li>
                      <a href="/docs/4.4/getting-started/javascript/">
                        JavaScript
                      </a>
                    </li><li>
                      <a href="/docs/4.4/getting-started/theming/">
                        Theming
                      </a>
                    </li><li>
                      <a href="/docs/4.4/getting-started/build-tools/">
                        Build tools
                      </a>
                    </li><li>
                      <a href="/docs/4.4/getting-started/webpack/">
                        Webpack
                      </a>
                    </li><li>
                      <a href="/docs/4.4/getting-started/accessibility/">
                        Accessibility
                      </a>
                    </li>
                </ul>

              </div>
            </nav>

                  </div>
                    {{- block "main" . -}}{{- end -}}

            </div>
            {{- partial "footer.html" . -}}
        </div>
        {{- partial "scripts.html" . -}}
    </body>
</html>
