<div id="cookies-eu-banner" style="display: none;">
	<h3>Our use of cookies</h3>
	<p>
		We use necessary cookies to make our site work, as well as optional cookies to help us improve use of our site. For more detailed information about the cookies we use, see our <a href="./cookie-declaration.html" id="cookies-eu-more">Cookies Declaration</a>
	<form id='cookie-consent-form'>
		<fieldset>
			<legend>
				Please select one of the following options to continue to our site.
			</legend>
			<div class='cookies-button-group'>
		    	<button id="cookies-eu-accept" type="button">Allow cookies selected below</button>
		    	<button id="cookies-eu-accept-all" type="button">Allow all cookies</button>
			</div>
		    <span class='cookies-checkbox'>
			 	<input
			 		type="checkbox"
			 		id="necessary"
			 		name="necessary"
			 		autocomplete="off"
			        checked
			        disabled />
			     <input
			     	name="necessary"
			     	type="hidden"
			     	value="on"/>
			 	<label for="necessary">Necessary</label>
			</span>
			<span class='cookies-checkbox'>
			  	<input
			  		type="checkbox"
			  		id="preferences"
			  		name="preferences"
			 		autocomplete="off" />
			  	<label for="preferences">Preferences</label>
			</span>
			<span class='cookies-checkbox'>
			  	<input
			  		type="checkbox"
			  		id="statistics"
			  		name="statistics"
			 		autocomplete="off" />
			  	<label for="statistics">Statistics</label>
			</span>
			<span class='cookies-checkbox'>
				<input
					type="checkbox"
					id="marketing"
					name="marketing"
			 		autocomplete="off" />
			 	<label for="marketing">Marketing</label>
			</span>
		</fieldset>
	</form>
</div>
