{{ if .Parent }}
{{ if ne .Parent.Page.Title "" }}
<title itemprop="name">{{ .Title }} | {{ .Parent.Page.Title }} | {{ .Site.Title }}</title>
{{ else }}
<title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
{{ end }}
{{ else }}
<title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
{{ end }}
<!-- internal templates usage start -->
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/google_analytics.html" . }}
<!-- internal templates usage end -->

    <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
{{- with .Params.description -}}
    <meta name="description" content="{{ . }}" />
    <meta itemprop="description" content="{{ . }}" />
{{- end -}}
{{- with .Params.image -}} 
    <meta itemprop="image" content="{{ . | absURL }}" />
{{- end -}}
    <base href="{{ .Permalink }}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}/sitemap.xml" /> 
{{- with .OutputFormats.Get "RSS" -}}
    <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{- end -}}
<!-- Algolia docs search -->
    <meta name="docsearch:language" content="{{- .Site.Language.Lang -}}" />
{{- if .IsPage }}
    <meta name="docsearch:version" content="{{- .Page.Parent.Params.version -}}" />
    <meta name="docsearch:project" content="{{- .Page.Parent.Params.project -}}" />
{{- else }}
{{- with .Params.version }}
<meta name="docsearch:version" content="{{- . -}}" />
{{- end}}
{{- with .Params.project }}
    <meta name="docsearch:project" content="{{- . -}}" />
{{- end}}
{{- end }}
<meta name="description" content="{{.Summary}}">