<nav class="r3-o-navbar navbar navbar-expand-md navbar-dark flex-column flex-md-row">
    <a class="navbar-brand mr-0 mr-md-2" href="{{- .Site.Home.Permalink -}}">
        <img
            src="/images/png/corda.png"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt="corda"
            aria-label="Corda">
        <span class="">{{- .Site.Title -}}</span>
    </a>
    <ul class="navbar-nav ml-sm-2 ml-md-auto">
        {{ partial "nav/edit-page-from-browser.html" . }}
        {{ partial "nav/stackoverflow.html" . }}
        {{ partial "nav/github.html" . }}
        {{ partial "nav/twitter.html" . }}
        {{ partial "nav/slack.html" . }}
        {{ partial "nav/r3.html" . }}
        {{ partial "nav/lang.html" . }}
    </ul>
</nav>
