<div class="clearfix pb-4">
    <div class="float-left btn-group" role="group" aria-label="Page navigator">
        {{ $pages := .CurrentSection.Pages  }}
        {{ with $pages.ByTitle.Prev . }}
        <a role="button" class="btn btn-primary btn-sm" title="Previous page in {{ .Section }}"
            href="{{ .Permalink }}">Previous</a>
        {{ end }}
        {{ with $pages.ByTitle.Next . }}
        <a role="button" class="btn btn-primary btn-sm" title="Next page in {{ .Section }}"
            href="{{ .Permalink }}">Next</a>
        {{ end }}
    </div>
    <div class="float-right">
        {{/* TODO:  REMOVE THIS ONCE WE'RE LIVE - FOR COMPARING OLD TO NEW */}}
        {{/* awful - only works for one depth */}}
        {{ $url := "docs.corda.net" }}
        {{ $here := (path.Base ( path.Dir (path.Dir .File.Dir) )) }}
        {{ if eq "corda-enterprise" $here }}
        {{ $url = "docs.corda.r3.com" }}
        {{ else if eq "cenm" $here }}
        {{ $url = "docs.cenm.r3.com" }}
        {{ end }}
        <a role="button" class="btn btn-secondary btn-sm"
            href='https://{{ $url }}/{{- .File.TranslationBaseName -}}.html'>COMPARE</a>
    </div>
</div>