<!-- This is the javascript that we build via yarn/webpack -->
<script src="/js/vendor.js" type="application/javascript"></script>
<script src="/js/app.js" type="application/javascript"></script>

{{ with .Page.Scratch.Get "needsMermaid" }}
<script src="/js/mermaid.min.js"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
{{ end }}
{{ with .Page.Scratch.Get "needsMathJax" }}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{{ end }}
{{ with .Site.Params.a11y }}
<script src="/js/tota11y.min.js"></script>
{{ end }}
