{{ if .Site.Params.algolia_appId }}
{{ $project := or .Parent.Page.Params.project .Page.Params.project}}
{{ $version := or .Parent.Page.Params.version .Page.Params.version}}
<script type="text/javascript">
if (document.querySelector('#search-input')) {
    //https://www.algolia.com/doc/api-reference/api-parameters/facetFilters/?language=javascript
    docsearch({
        appId: "{{- .Site.Params.algolia_appId -}}",
        apiKey: "{{- .Site.Params.algolia_apiKey -}}",
        indexName: "{{- .Site.Params.algolia_index -}}",
        inputSelector: "#search-input",
        algoliaOptions: {
            hitsPerPage: 30,
            facetFilters: [
                'project:{{- $project -}}',
                'version:{{- $version -}}',
                'language:{{- .Site.Language.Lang -}}'
            ]
        }
    });
}
</script>
{{ end }}
