<div class="r3-o-wrapper-side col-12">
    <div id="sidebar" class="r3-o-sidebar d-flex">
        <div class="r3-o-sidebar__row">
            <button
            class="btn btn-link r3-o-sidebar__nav-toggle d-xl-none pt-1 pl-0 col-1 collapsed"
            type="button"
            aria-expanded="false"
            aria-label="Toggle docs navigation">
            {{ partial "svg/nav-icon.svg" . }}
            </button>
            {{ partial "search.html" . }}

            {{ $element := .Page.TableOfContents }}
            {{ if eq $element `<nav id="TableOfContents"></nav>`}}
                <i></i>
            {{ else }}
                <button
                    class="btn btn-link r3-o-sidebar__toc-toggle d-xl-none pt-1 col-1"
                    type="button"
                    aria-controls="bd-docs-nav"
                    aria-expanded="false"
                    aria-label="Toggle Table of Contents">
                    {{ partial "svg/toc-icon.svg" . }}
                </button>
            {{ end }}
        </div>
        <nav
            class="collapse r3-o-sidebar__nav-content"
            id="r3-toc-nav"
            aria-label="Main navigation">
            {{- partial "toc.html" . -}}
        </nav>
    </div>
</div>
