$breadcrumb-object: "#{$class-object-prefix}breadcrumb";

.#{$breadcrumb-object} {
    background-color: #FFF;
    border-radius: 0;
    font-size: 14px;
    margin: 10px 32px 44px 0;
    max-width: 1440px;

    .breadcrumb-item {
        a {
            color: $red-500;
            font-weight: 200;
            text-transform: uppercase;
        }

       & + .breadcrumb-item:before {
            display: inline-block;
            padding-right: 0.5rem;
            color: #6c757d;
            content: ">";
        }
    }
}
