$note-class: "#{$class-object-prefix}important";

.#{$note-class} {
    @extend .alert;
    @extend .alert-primary;
    background-color: $red-200;
    color: $red-900;
    border-left: 0.5rem solid $red-500;
}
