$docs-nav-object: "#{$class-object-prefix}docs-nav";

.#{$docs-nav-object} {
    li a {
        color: $grey-800;
    }

    & > li,
    ul + .nav-item {
        color: $grey-800;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 0;
        text-transform: uppercase;

        a {
            color: $primary-01;
        }
    }

    button {
        background-color: transparent;
        border: none;
        text-transform: uppercase;

        &:after {
            content: url("/images/svg/corda-bullet-c-14.svg");
            color: black;
            margin-left: auto;
            transition-property: transform;
            transition-duration: 0.2s;
            transform: rotate(0deg);
        }
    }

    ul {
        opacity: 0;
        transform-origin: top center;
        transition-property: all;
        transform: rotateX(-90deg);
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

    button.active + ul {
        transform: rotateX(0);
        opacity: 1;
    }

}
