$nav-object: "#{$class-object-prefix}nav";

.#{$nav-object} {
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;

    z-index: 100;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;

    h5 {
        margin-bottom: 20px;
        padding-left: 22px;
    }

    nav {
        font-size: 14px;
        margin-top: 22px;

        &:first-child {
            margin-top: 0;
        }
    }

    @media screen and (max-width: 1199px) {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 48px;
        bottom: 0;
        display: block !important;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: absolute !important;
        width: 312px;
        z-index: 100;

        nav {
            margin-top: 22px;
        }
    }

    @media screen and (min-width: 1200px) {

        padding-top: 10px;

        h5 {
            text-align: center;
            padding-left: 0;
        }
    }
}
