$nav-object: "#{$class-object-prefix}nav";

.#{$nav-object} {
    transition: transform 0.15s;
    transition-timing-function: ease-out;

    h5 {
        margin-bottom: 20px;
        padding-left: 22px;
    }

    .x-button {
        background-color: transparent;
        border: none;
        height: 50px;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;

        svg {
            path {
                stroke: $red-500;
            }
            &:hover path {
                stroke: $grey-500;
            }
        }
    }

    nav {
        font-size: 14px;
        margin-top: 22px;
    }

    @media screen and (max-width: 1199px) {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 48px;
        bottom: 0;
        display: block !important;
        height: 100%;
        left: -41%;
        overflow-y: auto;
        position: fixed !important;
        width: 40%;
        z-index: 100;

        &.show-nav {
            transform: translateX(100%);
        }

        .x-button {
            display: block !important;
            position: absolute !important;
            top: 14px;
            right: 16px;
            width: 50px;
            height: 50px;
        }

        nav {
            margin-top: 44px;
        }
    }

    @media screen and (min-width: 1200px) {
        h5 {
            text-align: center;
            padding-left: 0;
        }
    }
}
