$navbar-object: "#{$class-object-prefix}navbar";

.#{$navbar-object} {
    background-image: url("/images/png/corda-banner.png");
    background-position: 60% 0%;
    background-attachment: fixed;


    ul {
        flex-direction: row;

        li a {
            padding-right: .5rem !important;
            padding-left: .5rem !important;
        }
    }

    &__nav-item  {
        display: flex;
        align-items: center;
        a {
            color: white;

            svg {
                height: 16px;
            }
        }
    }

}

