$search-object: "#{$class-object-prefix}search";

.#{$search-object} {
    border-bottom: none !important;
    display: flex;
    padding: 8px 0;
    justify-content: center;
    width: 90%;

  span {
      width: 90%;

    }

    @media screen and (min-width: 1200px) {
        border-bottom: 1px solid rgba(0,0,0,.05);
        margin-top: -3px;
        justify-content: start;
        padding: 0 0 8px;
    }
}

// theme for algolia - https://docsearch.algolia.com/docs/styling/
