$search-object: "#{$class-object-prefix}search";

.#{$search-object} {
  position: relative;
  padding: 1rem 0;
  width: 100%;

  span {
      width: 100%;
    }

    @media screen and (min-width: 992px) {
        border-bottom: 1px solid rgba(0,0,0,.05);
    }
}

// theme for algolia - https://docsearch.algolia.com/docs/styling/
