#myUL {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style-type: none;
}

/* Remove default bullets */

#myUL ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0.5rem;
}

.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */

.active {
    display: block;
}
