$sidebar-object: "#{$class-object-prefix}sidebar";
$selected-page: "#{$class-object-prefix}selected-page";

.#{$sidebar-object} {
    display: flex;
    flex-direction: column;


    &__navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }



    &__nav-toggle {
        line-height: 1;
        color: $red-500;

        svg:hover g path {
            stroke: $grey-500;
        }
    }


    &__toc-toggle {
        svg path {
            fill: $red-500;
        }
        svg:hover > path  {
            fill: $grey-500;
        }
    }

    &__nav-content {
        @media screen and (min-width: 1199px) {
           display: block !important;
          }
    }
}

.#{$selected-page} {
    background-color: $blue-200;
    border-left: 1px solid black;
    padding-left: 1rem;
}
