$sidebar-object: "#{$class-object-prefix}sidebar";
$selected-page: "#{$class-object-prefix}selected-page";

.#{$sidebar-object} {
    display: flex;
    flex-direction: column;

    &__nav-toggle {
        line-height: 1;

        svg path {
            fill: $red-500;
        }

        svg:hover {
            path {
                fill: $grey-500;
                stroke: $grey-500;
            }
        }
    }


    &__toc-toggle {
        svg line {
            fill: $red-500;
        }

        svg:hover {
            line {
                fill: $grey-500;
                stroke: $grey-500;
            }
        }
    }

    &__nav-content {

        ul {
            direction: rtl;
            text-align: right;
        }

        @media screen and (min-width: 1199px) {
           display: block !important;
          }
    }
}

.#{$selected-page} {
    background-color: $blue-200;
    border-left: 1px solid black;
    padding-left: 1rem;
}
