$sidebar-object: "#{$class-object-prefix}sidebar";
$selected-page: "#{$class-object-prefix}selected-page";

.#{$sidebar-object} {
    display: flex;
    flex-direction: column;

    &__row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__nav-toggle {
        box-sizing: content-box;
        line-height: 1;
        flex: 1 0 30px;
        max-width: 30px;

        svg path {
            fill: $red-500;
        }

        svg:hover {
            path {
                fill: $grey-500;
                stroke: $grey-500;
            }
        }
    }

    &__toc-toggle {
        box-sizing: content-box;
        flex: 1 0 30px;
        max-width: 30px;


        svg line {
            fill: $red-500;
        }

        svg:hover {
            line {
                fill: $grey-500;
                stroke: $grey-500;
            }
        }
    }

    &__nav-content {

        ul {
            direction: rtl;
            text-align: right;
        }

        @media screen and (min-width: 1199px) {
           display: none;
        }
    }

    &__search {
        display: flex;
        flex-grow: 8;
        flex-shrink: 0;
        justify-content: center;

        @media screen and (max-width: 384px) {
           width: 60%;
        }

        @media screen and (min-width: 1200px) {
            justify-content: start;
            max-width: 700px;
        }
    }
}

.#{$selected-page} {
    background-color: $blue-200;
    border-left: 1px solid black;
    padding-left: 1rem;
}
