$note-class: "#{$class-object-prefix}warning";

.#{$note-class} {
    @extend .alert;
    @extend .alert-warning;

    background-color: $yellow-200;
    color: $yellow-900;
    border-left: 0.5rem solid $yellow-500;
}
