// https://r3-cev.atlassian.net/wiki/spaces/RI/pages/103907816/Color+Palettes

$primary-01: #ec1d24 !default;
$primary-02: #53585f !default;
$primary-03: #010101 !default;
$primary-04: #ffffff !default;

$primary-other-01: #f79679 !default;
$primary-other-02: #53585f !default;
$primary-other-03: #ffffff !default;

$secondary-01: #cc4a4b !default;
$secondary-02: #c6cfef !default;
$secondary-03: #5b6b88 !default;
$secondary-04: #dcdde1 !default;
$secondary-05: #98a1d1 !default;
$secondary-06: #1d2343 !default;

$tertiary-01: #557ea2 !default;
$tertiary-02: #9ea0ef !default;
$tertiary-03: #7dbaef !default;
$tertiary-04: #968ba2 !default;
$tertiary-05: #6b6da2 !default;
$tertiary-06: #ddccef !default;

// https://color.adobe.com/create/ using #cc4a4b, 5b6b88
$secondary-extra-01: #49CC6E !default;
$secondary-extra-02: #A3B4D4 !default;  // note
$secondary-extra-03: #8CD5A1 !default;  // tip
$secondary-extra-04: #D58C8C !default;  // important
$secondary-extra-05: #D6D463 !default;  // warning
