{{ $src        := "" }}
{{ $zoom       := "" }}
{{ $figcaption := "" }}
{{ $alt        := "" }}
{{ $title      := "" }}
{{ $width      := "" }}
{{ $height     := "" }}
{{ $align      := "" }}
{{ if .IsNamedParams }}
  {{ $src        = .Get "src" }}
  {{ $zoom       = .Get "zoom" }}
  {{ $figcaption = .Get "figcaption" }}
  {{ $alt        = .Get "alt" }}
  {{ $title      = .Get "title" }}
  {{ $width      = .Get "width" }}
  {{ $height     = .Get "height" }}
  {{ $align      = .Get "align" }}
  {{if not $src}}
    {{$src = $zoom }}
  {{end}}
{{ else }}
  {{ $src = .Get 0 }}
  {{ $alt = .Get 1 }}
{{end}}
<figure>
  {{if $zoom}}<a href="{{$zoom}}" target="_blank">{{end}}
  <img src="{{$src}}" alt="{{$alt}}"{{if $title  }} title="{{$title}}"{{end}}{{if $width}} width="{{$width}}"{{end}}{{if $height }} height="{{$height}}"{{end}}{{if $align}} align="{{$align}}"{{end}}/>
  {{if $figcaption }}<figcaption>{{$figcaption}}</figcaption>{{end}}
  {{if $zoom}}</a>{{end}}
</figure>
