@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600);
.breadcrumb {
  font-size: small;
}

.side-bar {
  font-size: small;
}

.site-treeview,
.site-treeview ul {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
  font-size: small;
  list-style-type: none;
}

/* Remove default bullets */
#myUL ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0.5rem;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none;
  transition-property: transform;
  transition-duration: 0.2s;
  /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMgNUwwIDEwTDkuNSA1TDAgMEwzIDVaIiBmaWxsPSIjRUMxRDI0Ii8+Cjwvc3ZnPgo=);
  color: black;
  display: inline-block;
  margin-right: 6px;
  transition-property: transform;
  transition-duration: 0.2s;
  transform: rotate(0deg);
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transition-property: transform;
  transition-duration: 0.2s;
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

/** Header link  **/
.header-link:after {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

/**************************************/
#sidebar #TableOfContents {
  font-size: small;
}

#sidebar #TableOfContents ul {
  padding-left: 0;
  margin-left: 0.5rem;
}

.r3-o-wrapper-main {
  min-height: calc(100vh - 56px - 80px);
  order: 1;
}

.r3-o-wrapper-side {
  background-color: #f7fafc;
  order: 2;
}
@media screen and (max-width: 991px) {
  .r3-o-wrapper-side {
    order: 0;
  }
}

.r3-c-note {
  background-color: #A3B4D4;
}

.r3-o-sidebar {
  display: flex;
  flex-direction: column;
}
.r3-o-sidebar__navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.r3-o-sidebar__nav-toggle {
  line-height: 1;
  color: #ec1d24;
}
.r3-o-sidebar__nav-toggle svg:hover g path {
  stroke: #53585f;
}
.r3-o-sidebar__toc-toggle svg path {
  fill: #ec1d24;
}
.r3-o-sidebar__toc-toggle svg:hover > path {
  fill: #53585f;
}
@media screen and (min-width: 992px) {
  .r3-o-sidebar__nav-content {
    display: block !important;
  }
}

.r3-o-selected-page {
  background-color: #D6D463;
  border-left: 1px solid black;
  padding-left: 1rem;
}

.r3-o-navbar {
  background-color: #53585F;
}
.r3-o-navbar ul {
  flex-direction: row;
}
.r3-o-navbar ul li a {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

footer {
  background-color: #53585F;
  color: rgba(255, 255, 255, 0.9);
}

#git {
  text-align: center;
}
#git .git-edit {
  text-align: right;
}

.api {
  margin-top: 25px;
}

.r3-o-toc {
  order: 1;
  transition: transform 0.4s;
  transition-timing-function: ease-out;
}
.r3-o-toc h5 {
  margin-bottom: 20px;
  padding-left: 22px;
}
.r3-o-toc button {
  background-color: transparent;
  border: none;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}
.r3-o-toc button svg path {
  stroke: #ec1d24;
}
.r3-o-toc button svg:hover path {
  stroke: #53585f;
}
.r3-o-toc nav {
  margin-top: 44px;
}
@media screen and (min-width: 769px) {
  .r3-o-toc {
    order: 0;
  }
}
@media screen and (max-width: 991px) {
  .r3-o-toc {
    background-color: #ffffff;
    border-right: 1px solid #53585f;
    bottom: 0;
    display: block !important;
    height: 100%;
    left: -41%;
    position: absolute !important;
    width: 40%;
    z-index: 100;
  }
  .r3-o-toc.show-toc {
    transform: translateX(100%);
  }
  .r3-o-toc button {
    display: block !important;
    position: absolute !important;
    top: 14px;
    right: 0;
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 992px) {
  .r3-o-toc h5 {
    text-align: center;
    padding-left: 0;
  }
}

.r3-o-search {
  position: relative;
  padding: 1rem 0;
  width: 100%;
}
.r3-o-search span {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .r3-o-search {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}

/*# sourceMappingURL=main.css.map*/
