.r3-o-landing {
    font-family: 'Poppins', sans-serif;
    min-height: calc(100vh - 91px - 46px);
    position: relative;
}

.r3-o-landing__image-wrapper {
    align-self: flex-end !important;
    margin-bottom: 30px;
    padding-right: 0px;
}

.r3-o-landing__image-wrapper img {
    display: block;
    height: 78px;
    margin: auto;
    margin-top: 10px;
}

.r3-o-landing__content-wrapper {
    max-width: 500px;
    padding-left: 48px !important;
    text-align: center;
}

.r3-o-landing__content-wrapper h5 {
    color: var(--grey-500);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 22px;
    margin-top: 0;
}

.r3-o-landing__content-wrapper p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 30px;
}

.r3-o-landing__content-wrapper a {
    align-items: center;
    box-sizing: border-box;
    border: none;
    border-radius: 40px;
    color: #fff;
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    margin: 20px 12px 0;
    max-height: 50px;
    height: 50px;
    line-height: 1.1;
    text-decoration: none;
    width: 150px;
}

.r3-o-landing__content-wrapper a span {
    text-align: center;
}

.r3-o-landing__content-wrapper a:hover {
    text-decoration: none;
}


.r3-o-landing__content-wrapper .corda {
    background-color: var(--red-500);
}

.r3-o-landing__content-wrapper .corda:hover {
    background-color: #fff;
    border: 2px solid var(--red-500);
    color: var(--red-500);
}

.r3-o-landing__content-wrapper .github {
    background-color: var(--grey-500);
}

.r3-o-landing__content-wrapper .github:hover {
    background-color: var(--grey-400);
}

.r3-o-landing__content-wrapper .corda-light  {
    border: 2px solid var(--grey-400);
    color: var(--grey-400);
}

.r3-o-landing__content-wrapper .corda-light:hover {
    border: 2px solid var(--grey-400);
    cursor: default;
 }

 .r3-o-landing__content-wrapper .corda-light span:last-child {
    display: none;
}

.r3-o-landing__content-wrapper .corda-light:hover {
    border: 2px solid var(--grey-400);
}

.r3-o-landing__content-wrapper .corda-light:hover span:first-child {
    display: none;
}

.r3-o-landing__content-wrapper .corda-light:hover span:last-child {
    color: var(--grey-400);
    display: inline;
}

@media screen and (min-width: 768px) {
    .r3-o-landing {
        align-items: center;
        height: 100%;
        min-height: calc(100vh - 56px - 46px);
        justify-content: center;
    }

    .r3-o-landing__content-wrapper {
        text-align: left;
    }


    .r3-o-landing__image-wrapper {
        margin-bottom: 10px;
        padding-right: 3em !important;
    }

    .r3-o-landing__image-wrapper img {
        display: initial;
        float: right;
        height: initial;
    }
}
