$dropdown-object: "#{$class-object-prefix}dropdown";

.#{$dropdown-object} {
    button {
        color: $primary-01;
        background-color: #EEF1F3;
        font-size: 14px;
        font-weight: 600;
        padding: 4px 12px;
        text-align: initial;
        width: 100%;

        &:hover {
            color: $primary-01;
            background-color: $red-100;
        }

        svg {
            fill: $primary-01;
            float: right;
            margin-top: 2px;
            height: 16px;
        }

        &:after {
            display: none;
            margin-left: 0;
            vertical-align: 0.255em;
            content: "";
            border: none;
        }
    }
}
