$navbar-object: "#{$class-object-prefix}navbar";

.#{$navbar-object} {
    background-image: url("/images/jpg/corda-banner.jpg");
    background-position: 60% 0%;
    background-attachment: fixed;

    ul {
        flex-direction: row;

        li a {
            padding-right: .5rem !important;
            padding-left: .5rem !important;
        }
    }

    &__nav-item  {
        display: flex;
        align-items: center;

        svg {
            height: 17px;
            stroke: #eee;

            .st0, .st1 {
                fill: #eee;
            }
        }

        &:first-child svg {
            height: 20px;
        }
    }
}

