$nav-object: "#{$class-object-prefix}nav";
.#{$nav-object} {
    background-color: white;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 48px;
    display: block !important;
    left: 0;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    position: absolute !important;
    top: 0;
    width: 312px;
    z-index: 100;
    h5 {
        margin-bottom: 20px;
        padding-left: 22px;
    }
    nav {
        font-size: 14px;
        margin-top: 22px;
        &:first-child {
            margin-top: 0;
        }
    }
    @media screen and (min-width: 1200px) {
        box-shadow: unset;
        height: 100vh;
        padding-top: 10px;
        position: -webkit-sticky !important;
        position: sticky !important;
        h5 {
            text-align: center;
            padding-left: 0;
        }
    }
}
