$note-class: "#{$class-object-prefix}topic";

.#{$note-class} {
    @extend .alert;
    @extend .alert-dark;
    background-color: $grey-200;
    color: $grey-900;
    border-left: 0.5rem solid $grey-500;
}
