$landing-object: ".#{$class-object-prefix}landing";

#{$landing-object} {
    font-family: $poppins-font;
    min-height: calc(100vh - 96px - 86px);
    position: relative;

    &__image-wrapper {
        margin-bottom: 30px;
        padding-right: 0px;

        img {
            display: block;
            height: 78px;
            margin: auto;
            margin-top: 10px;
        }
    }

    &__content-wrapper {
        max-width: 500px;
        text-align: center;

        h5 {
            color: $grey-500;
            font-weight: 700;
            line-height: 30px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 30px;
        }

        a {
            border: none;
            border-radius: 6px;
            color: #fff;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0.1em;
            padding: 10px 0;
            text-align: center;
            width: 176px;

            &:hover {
                text-decoration: none;
            }

            &.corda {
                background-color: $red-500;

                &:hover {
                    background-color: $red-400;
                }
            }

            &.github {
                margin-top: 10px;
                background-color: $grey-500;
                margin-bottom: 10px;

                &:hover {
                    background-color: $grey-400;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        min-height: calc(100vh - 56px - 86px);
        height: 100%;
        justify-content: center;
        align-items: center;

        &__content-wrapper {
            text-align: left;
        }


        &__image-wrapper {
            margin-bottom: initial;
            padding-right: 3em !important;

            img {
                display: initial;
                float: right;
                height: initial;

            }
        }
    }
}
