$search-object: "#{$class-object-prefix}search";

.#{search-object} {

.-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0,0,0,.05);