{{/* Displays a bulleted list of hyperlinks to any child page files, sorted by the weight variable */}}
{{ $menu := .Page.Params.section_menu }}
{{ $weight := printf "%s" ".weight" | printf "%s%s" $menu | printf "%s%s" ".Params.menu." | printf "%s" }}
{{ $name := printf "%s" ".name" | printf "%s%s" $menu | printf "%s%s" "menu." | printf "%s" }}

{{- with .Page.Pages -}}
    <ul>
    {{- range sort . $weight -}}
        <li><a href='{{- .Permalink -}}'>{{ with .Param $name }} {{ . }} {{ else}}{{ .Title }}{{ end}}</a></li>
    {{- end -}}
    </ul>
{{- end -}}