{{/* Function to display the definition for the specified term, as defined for Digital Currencies in glossaryitems.json, as a tooltip.*/}}
{{/* Example usage: {{< tooltip >}}CorDapp{{< definitiondc word="cordapp" >}}{{< /tooltip >}}*/}}
{{/* NOTE the "term" passed to this shortcode must match the term in the JSON file exactly (including case).*/}}

{{ with $.Params.term }}
    {{ $glossarylist := getJSON "content/en/tools/digital-currencies/glossaryitems.json" }}
    {{ if (isset $glossarylist $.Params.term ) }}
        {{ range $term, $value := $glossarylist }}
            {{ if eq $term $.Params.term}} 
                <span class="definition">{{ $value.definition }}</span>
            {{ end }}
        {{ end }}
    {{ else }}
        {{ errorf "Glossary term not found: %q" $.Params.term $.Page}}
    {{ end }}
{{ end }}    