<style>
  .enterprise-generic-icon {
    font-size: medium;
    font-weight: bold;
    display: inline;
    color:#ec1d25 !important;
    text-decoration: none !important;
    border-style: solid;
    border-radius: 6px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    border-color: #D9DBE9;
  }

</style>
<a title="tooltip, one liner content goes here" href="#detailedlinkgoeshere" class="enterprise-generic-icon">E</a>
