<style>
  .enterprise-icon {
    text-decoration: none !important;
  }

</style>
<a title="This feature is only available in the Enterprise edition of Corda." href="#detailedlinkgoeshere" class="enterprise-icon">
  <svg id="enterprise-icon" data-name="enterprise-icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 475 475">
    <g id="Rectangle_1" data-name="Rectangle 1" fill="none" stroke="#b5b5b5" stroke-linejoin="bevel" stroke-width="16">
      <rect width="475" height="475" rx="72" stroke="none"/>
      <rect x="8" y="8" width="459" height="459" rx="64" fill="none"/>
    </g>
    <text id="E" transform="translate(146 348)" fill="#e80000" font-size="300" font-family="HelveticaNeue, Helvetica Neue"><tspan x="0" y="0">E</tspan></text>
  </svg>  
</a>
