<style>
  .enterprise-h2-icon {
    position: absolute;
    font-size: large;
    display: inline-block;
    color:#ec1d25 !important;
    text-decoration: none !important;
    margin-left: 0.75rem;
    border-style: solid;
    border-radius: 6px;
    margin-top: 2px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    border-color: #D9DBE9;
  }

</style>
<a title="This feature is only available in the Enterprise edition of Corda. <More info. link>" href="#detailedlinkgoeshere" class="enterprise-h2-icon">E</a>
