<style>
  .enterprise-icon {
    text-decoration: none !important;
    margin-left: 0.5rem;
  }
  .enterprise-icon > img {
    border-style: none !important;
    padding: 0 0 1px 0 !important;
    background-color: transparent !important;
  }
</style>
<a {{ with .Get "noMargin" }} style="margin-left: 0 !important;" {{ end }} title="This is a Corda Enterprise only feature." href="{{ .Site.BaseURL | absURL }}en/about-the-docs.html#documenting-corda-5" class="enterprise-icon">
  <img src="/icons/enterprise-icon.png" alt="enterprise-icon"  width="28px" />
</a>