{{/* initialize image variables */}}
{{ $src        := "" }}
{{ $zoom       := "" }}
{{ $figcaption := "" }}
{{ $alt        := "" }}
{{ $title      := "" }}
{{ $width      := "" }}
{{ $height     := "" }}
{{ $align      := "" }}
{{/* set image variables if passed as named params */}}
{{ if .IsNamedParams }}
  {{ $src        = .Get "src" }}
  {{ $zoom       = .Get "zoom" }}
  {{ $figcaption = .Get "figcaption" }}
  {{ $alt        = .Get "alt" }}
  {{ $title      = .Get "title" }}
  {{ $width      = .Get "width" }}
  {{ $height     = .Get "height" }}
  {{ $align      = .Get "align" }}
  {{if not $src}}
    {{$src = $zoom }}
  {{end}}
{{/* assume src is first param and alt is second if params not named */}}
{{ else }}
  {{ $src = .Get 0 }}
  {{ $alt = .Get 1 }}
{{end}}
{{/* retrieve image file if part of page resources */}}
{{ $image := .Page.Resources.GetMatch (printf "*%s*" $src ) -}}
{{/* retrieve image file if in assets\images\<versionfolder> - used if figure is called from a snippet */}}
{{- /* Figure out what folder in corda-docs-portal\themes\doks\assets\images to look in based on version of the page calling the shortcode */}}
{{ $versionfolder := replace (lower (.Page.Params.version)) " " "-" }}
{{ $path := printf "%s" $src | printf "%s%s" "/" | printf "%s%s" $versionfolder | printf "%s%s" "images/" | printf "%s" }}
{{ $assetimage := resources.Get (printf "%s" $path ) -}}
<figure>
  {{if $zoom}}<a href="{{$zoom}}" target="_blank">{{end}}
    <img
    {{if $image }}
        src="{{ $image.RelPermalink }}"
    {{ else if $assetimage }}
        src="{{ $assetimage.RelPermalink }}"        
    {{ else if or (ne .Page.Params.version "Corda 5.0") (eq (.Page.Resources.GetMatch $src) true) }}
        src="{{$src}}" 
    {{/* stop build if image file specified in Corda 5 content is not found in the page resources or the assets folder */}}
    {{ else }}	 
        {{ errorf "Image not found src: %q image: %q" $src $image }}
    {{ end }}
    alt="{{$alt}}"
    {{if $title }} 
        title="{{$title}}"
    {{end}}
    {{if $width}}
        width="{{$width}}"
    {{end}}
    {{if $height }}
        height="{{$height}}"
    {{end}}
    {{if $align}}
        align="{{$align}}"
    {{end}}
/>
  {{if $figcaption }}<figcaption>{{$figcaption}}</figcaption>{{end}}
  {{if $zoom}}</a>{{end}}
</figure>