{{/* 
Displays the full list of terms and definitions defined for Corda 5 in glossaryitems.json.

The "definition" field should be a one-sentence tooltip shown throughout content and on the Glossary page.
The "more" field adds extra expandable content on the Glossary page.
*/}}

{{ $versionfolder := replace (lower (.Page.Params.version)) " " "/" }}
{{ $filepath := printf "en/platform/%s/glossaryitems.json" $versionfolder }}

{{ with resources.Get $filepath }}
  {{ $glossarylist := . | transform.Unmarshal }}
  
  {{ range $term, $value := $glossarylist }}
    {{ $termkebab := lower (replace $term " " "-") }}

    {{ with $value.more }}
      <details>
        <summary>
          <h4 id="{{ $termkebab }}">{{ $term }}</h4>
          {{ $value.definition }}
        </summary>
        {{ safeHTML $value.more }}
      </details>
    {{ else }}
      <p style="margin-top: 1rem;">
        <h4 id="{{ $termkebab }}">{{ $term }}</h4>
        {{ $value.definition }}
      </p>
    {{ end }}
  {{ end }}
{{ else }}
  <p>Error: Could not load glossary JSON from <code>{{ $filepath }}</code>.</p>
{{ end }}
