{{/* Function to display the definition for the specified term, as defined for Corda 5 in glossaryitems.json, as a tooltip.*/}}
{{/* Example usage: {{< tooltip >}}CorDapp{{< /tooltip >}} */}}
{{/* NOTE the "term" passed to this shortcode is case-insensitive and simple plural versions should match. For example, passing "members" should match "Member" in the JSON file. */}}

<style>
    .definition {
        visibility: hidden;
        width: 300px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1200;
        bottom: 125%;
        left: 50%;
        margin-left: -150px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .term {
        position: relative;
        display: inline;
        border-bottom: 1px dotted black;
        text-decoration: none !important;  
    }
    .term:hover .definition {
        visibility: visible;
        opacity: 1;
    }

    .term .definition::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    }    

</style>

{{ $searchtermlower := lower .Inner }}
{{ $searchtermkebab := replace $searchtermlower " " "-" }}
{{ $termlink := printf "%s" $searchtermkebab  | printf "%s%s" "#" | printf "%s%s" "https://docs.r3.com/en/platform/corda/5.0/introduction/glossary.html" | safeURL }}
<a class="term" href ='{{ $termlink }}' >&nbsp{{ .Inner }}

{{ $glossarylist := getJSON "content/en/platform/corda/5.0/glossaryitems.json" }}
{{ if eq .Page.Params.version "Corda 5.1" }}
    {{ $glossarylist := getJSON "content/en/platform/corda/5.1/glossaryitems.json" }}
{{ end }}

{{ range $term, $value := $glossarylist }}
    {{ $term := lower $term }}
    {{ if eq $term $searchtermlower }} 
        <span class="definition" >{{ $value.definition }}</span>
    {{ else if eq $term (strings.TrimSuffix "s" $searchtermlower) }}
        <span class="definition">{{ $value.definition }}</span>
    {{ end }}
{{ end }}
</a>
