{{/* Function to display the definition for the specified term, as defined for Corda 5 in glossaryitems.json, as a tooltip.*/}}
{{/* Example usage: {{< tooltip >}}CorDapp{{< /tooltip >}}*/}}
{{/* NOTE the "term" passed to this shortcode is case-insensitive and simple plural versions should match. For example, passing "members" should match "Member" in the JSON file. */}}

<style>
    .definition {
        visibility: hidden;
        width: 300px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1200;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .term {
        position: relative;
        display: inline;
        border-bottom: 1px dotted black;
    }
    .term:hover .definition {
        visibility: visible;
        opacity: 1;
    }
</style>

<span class="term">&nbsp{{ .Inner }}
    {{ $searchtermlower := lower .Inner }}
    {{ $glossarylist := getJSON "content/en/platform/corda/5.0/glossaryitems.json" }}

        {{ range $term, $value := $glossarylist }}
            {{ $term := lower $term }}
            {{ if eq $term $searchtermlower }} 
                <span class="definition">{{ $value.definition }}</span>
            {{ else if eq $term (strings.TrimSuffix "s" $searchtermlower) }}
                <span class="definition">{{ $value.definition }}</span>
            {{ end }}
        {{ end }}

</span>
