.r3-o-container-fluid{
    padding-left: 48px;
    padding-right: 48px;
    max-width: 1440px;
}

$wrapper-object: ".#{$class-object-prefix}wrapper";

#{$wrapper-object}-side {
    background-color: #FFF;
    margin-bottom: 10px;
    order: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;

    @media screen and (min-width: 1200px) {
        padding-bottom: 5px;
    }
}

#{$wrapper-object}-main {
    min-height: calc(100vh - 56px - 70px);
    order: 2;
    padding: 0;

    main {
        flex-grow: 1;
        padding: 0 15px;
        width: 0;

        img {
            @include img-fluid;
        }
    }

    aside {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-left: 40px;
        margin-top: -36px;
        max-height: calc(100vh - 64px);
        padding: 40px 0;
        position: -webkit-sticky;
        position: sticky;
        top: 64px;
        width: 240px;
    }
}

#{$wrapper-object}-nav {
    flex-basis: 311px;
    padding: 15px 56px 0 0!important;
    order: 1;
    transition: transform 0.15s;
    transition-timing-function: ease-out;


    @media screen and (max-width: 1199px) {
        z-index: 200;
        position: fixed;
        top: 0;
        left: -100%;
        right: 0;
        bottom: 0;

        &.show-nav {
            transform: translateX(100%);
        }
    }
}
