{{- if eq .Site.Params.editor "vscode" -}}
<li class="nav-item r3-o-navbar__nav-item">
    {{ if and .Site.Params.siteroot .File }}
    <a href="vscode://file/{{ .Site.Params.SiteRoot }}/content/{{.Site.Language.Lang }}/{{.File.Path}}" name="vscode" alt="launch in vscode" aria-label="launch in vscode">
        {{- partial "svg/edit.svg" . -}}
    </a>
    {{ else }}
    <a href="#" name="vscode" alt="vscode" aria-label="vscode">
        See readme
    </a>
    {{ end }}
</li>
{{- end -}}
{{- if eq .Site.Params.editor "atom" -}}
<li class="nav-item r3-o-navbar__nav-item">
    {{ if and .Site.Params.siteroot .File }}
    <a href="atom://open?url=file://{{.Site.Params.SiteRoot}}/content/{{.Site.Language.Lang}}/{{.File.Path}}" name="atom" alt="launch in atom" aria-label="launch in atom">
        {{- partial "svg/edit.svg" . -}}
    </a>
    {{ else }}
    <a href="#" name="atom" alt="atom" aria-label="atom">
        See readme
    </a>
    {{ end }}
</li>
{{- end -}}
<!--{{- if eq .Site.Params.editor "idea" -}}-->
<!--<li class="nav-item r3-o-navbar__nav-item">-->
<!--    {{ if and .Site.Params.siteroot .File }}-->
<!--    <a href="jetbrains://idea/navigate/reference?project=docs-site&url=/content/{{.Site.Language.Lang}}/{{.File.Path}}" name="atom" alt="launch in atom" aria-label="launch in atom">-->
<!--        {{- partial "svg/edit.svg" . -}}-->
<!--    </a>-->
<!--    {{ else }}-->
<!--    <a href="#" name="idea" alt="idea" aria-label="idea">-->
<!--        See readme-->
<!--    </a>-->
<!--    {{ end }}-->
<!--</li>-->
<!--{{- end -}}-->
