<!DOCTYPE html>
<html{{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
    {{ partial "head.html" . }}

    <body>
        <noscript>You need to enable javascript for this site</noscript>
        {{- partial "cookie-banner.html" . -}}
        {{- partial "header.html" . -}}
        <div class="r3-o-row ">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="mx-auto"><h5>Unfortunately we could not find that page.</h5>
                <p>You could try searching...</p></div>
                <div>
                    <form id="site-search-form" action="" role="search" class="r3-o-search">
                        <input type="search" id="search-input" class="form-control" placeholder="Search all the docs..."
                            name="search-input" value="" />
                    </form>
                </div>
                <p>...or return to the <a href="/">home page</a> and try again.</p>
            </div>
            <div class="col-sm">
            </div>
        </div>
        <footer>
            <div>
                <p>
                    &copy; R3 Ltd
                    {{ dateFormat "2006" now }}
                </p>
            </div>
        </footer>
    </body>
    {{ partial "globals.html" .}}
    {{ partial "scripts.html" . }}
</html>
