<!DOCTYPE html>
<html{{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
    {{ partial "head.html" . }}

    <body>
        <noscript>You need to enable javascript for this site</noscript>
        {{- partial "cookie-banner.html" . -}}
        {{- partial "header.html" . -}}
        <div class="r3-o-landing r3-o-landing__container">
            <div class="r3-o-row">
                <div class="r3-o-landing__image-wrapper r3-o-col-8 r3-o-col-md-6">
                    <img src="images/png/corda-docs.png" alt="corda-docs" />
                </div>
                <div class="r3-o-landing__content-wrapper r3-o-col-8 r3-o-col-md-6">
                    <h5>{{ .Page.Params.header }}</h5>
                    <p>{{ .Page.Params.tagline }}</p>
                    <div class="corda-buttons">
                        <a class="corda" href="{{ relref . .Page.Params.target_corda_os }}">
                            <span>Corda</span>
                        </a>
                        <a class="github" href="{{ relref . .Page.Params.target_corda_enterprise }}">
                            <span>Corda Enterprise</span>
                        </a>
                        <a class="github" href="{{ relref . .Page.Params.target_cenm }}">
                            <span>Corda Enterprise Network Manager</span>
                        </a>
                        <a class="github" href="https://training.corda.net" target=new>
                            <span>Corda <br/> Training</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="popup" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>We’re giving our documentation a refresh. You might notice a few changes to the look and
                                feel, and these updates will continue over the coming months. Don’t worry – all the docs
                                will still be here when you need them.</p>
                            <p>docs.corda.net is now the home of all Corda product
                                documentation (Corda OS, Corda Enterprise, and Corda Enterprise Network Manager).</p>
                            <p>The biggest changes for now are behind the scenes – we’re making it easier and faster to
                                give
                                you new documentation when it’s needed.</p>
                            <p>We hope you like it – stay tuned for more updates in the near future.</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div>
                <p>
                    &copy; R3 Ltd
                    {{ dateFormat "2006" now }}
                </p>
            </div>
        </footer>
        {{ partial "scripts.html" . }}
    </body>

    </html>
