<div id="cookies-eu-banner" style="display: none;">
	<h3 style="text-transform:none">Your privacy</h3>
	<div class='cookie-flex'>
		<p style='text-align:center'>
			We use cookies to improve your experience on our site, and to help us understand how people use our documentation. For more detailed information, see our <a href="https://www.r3.com/privacy-policy/">privacy policy</a> and <a href="/cookie-declaration.html">cookie declaration</a>.
		</p>
		<form id='cookie-consent-form'>
			<fieldset>
				<legend>
					Please select from the following options to continue to our site.
				</legend>
				<div class='cookies-button-group'>
					<button id="cookies-eu-accept" type="button">Allow cookies selected</button>
					<button id="cookies-eu-accept-all" type="button">Allow all cookies</button>
					<span class='cookies-checkbox'>
						<input
						type="checkbox"
						id="necessary"
						name="necessary"
						autocomplete="off"
						checked
						disabled />
						<input
						name="necessary"
						type="hidden"
						value="on"/>
						<label for="necessary">Necessary</label>
					</span>
					<span class='cookies-checkbox'>
						<input
						type="checkbox"
						id="preferences"
						name="preferences"
						autocomplete="off" />
						<label for="preferences">Preferences</label>
					</span>
					<span class='cookies-checkbox'>
						<input
						type="checkbox"
						id="statistics"
						name="statistics"
						autocomplete="off" />
						<label for="statistics">Statistics</label>
					</span>
					<span class='cookies-checkbox'>
						<input
						type="checkbox"
						id="marketing"
						name="marketing"
						autocomplete="off" />
						<label for="marketing">Marketing</label>
					</span>
				</div>
			</fieldset>
		</form>
	</div>
</div>
