{{/* Called by generate-ref-docs to format the config field descriptions */}}
{{ $value := .value }}
{{ $key := .key }}
{{ $fullurl := .url }}
<li><code>{{ $key }}</code> 
{{ with $value.description}} 
    - {{ $value.description}} 
{{ end }}    
{{ if or (isset $value "oneOf") (isset $value "enum") }}
    This must be set to one of the following values:
    <ul>
    {{ with $value.oneOf }}
        {{ range $oneOfk, $oneOfv := $value.oneOf }}
            <li>{{ $oneOfv.const }} - {{ $oneOfv.title }}</li>
        {{ end }}
    {{ end }}
    {{ with $value.enum }}
        {{ range $enumval := $value.enum }}
            <li>{{ $enumval }}</li>
        {{ end }}
    {{ end }}
    </ul>
    {{ if (isset $value "default") }}
        {{ if eq $value.type "array" }}
            {{ range $arrayvalue := $value.default }}
                {{ if not (reflect.IsMap $arrayvalue)}}
                    Default value: {{ $arrayvalue }}
                {{ end }}
            {{ end }}
        {{ else if not (reflect.IsMap $value.default) }}
            Default value: {{ string ($value.default) }} 
        {{ end }}
    {{ end }}
    
{{ else if (isset $value "default") }}
    {{ if eq $value.type "array" }}
        {{ range $arrayvalue := $value.default }}
            {{ if not (reflect.IsMap $arrayvalue)}}
                <br>Default value: {{ $arrayvalue }}
            {{ end }}
        {{ end }}
    {{ else if not (reflect.IsMap $value.default) }}
        <br>Default value: {{ string ($value.default) }} 
    {{ end }}
{{ end }}
{{ if isset $value "minimum" }}
    <br>Minimum value: {{ string ($value.minimum) }}
{{ end }}
{{ if isset $value "maximum" }}
    <br>Maximum value: {{ string ($value.maximum) }}
{{ end }}
{{ $ref := index $value "$ref"}}
{{ with $ref }}
    {{ if (strings.Contains $ref ".json") }} 
        {{ $urlpath := strings.TrimSuffix (path.Base $fullurl) $fullurl }}
        {{ $refurl := print $urlpath $ref }}
        {{ partial "referenced-field-desc-ref-docs" (dict "url" $refurl) }}
    {{ else if (strings.Contains $ref "#/$defs/") }} 
        {{ $def := (strings.TrimLeft "#/$defs/" $ref) }}
        {{ partial "defs-field-desc-ref-docs" (dict "url" $fullurl "def" $def) }}       
    {{ end }}
{{ end }}
{{ with $value.items.properties }}
    <ul>
    {{ range $childk, $childv := $value.items.properties }}
        {{ partial "field-desc-ref-docs" (dict "value" $childv "key" $childk "url" $.Params.url) }}
    {{ end }}
    </ul>
{{ end }}
