
{{ $value := .value }}
{{ $key := .key }}
{{ $fullurl := .url }}
<li><code>{{ $key }}</code> 
{{ with $value.description}} 
    - {{ $value.description}} 
{{ end }}    
{{ with $value.oneOf }}
    This must be set to one of the following values:
    <ul>
        {{ range $oneOfk, $oneOfv := $value.oneOf }}
                <li>{{ $oneOfv.const }} - {{ $oneOfv.title }}</li>
        {{ end }}
    </ul>
{{ end }}
{{ with $value.enum }}
    This must be set to one of the following values:
    <ul>
        {{ range $enumval := $value.enum }}
            <li>{{ $enumval }}</li>
        {{ end }}
    </ul>
{{ end }}
{{ with $value.minimum }}
    <br>Minimum value: {{ string ($value.minimum) }}
{{ end }}
{{ with $value.maximum }}
    <br>Maximum value: {{ string ($value.maximum) }}
{{ end }}
{{ with $value.default }}
    {{ if eq $value.type "array" }}
        <br>Default value: 
        {{ range $arrayvalue := $value.default }}
            {{ $arrayvalue }}
        {{ end }}
    {{ else if not (reflect.IsMap $value.default) }}
        <br>Default value: {{ string ($value.default) }} 
    {{ end }}
{{ end }}
{{ $ref := index $value "$ref"}}
{{ with $ref }}
    {{ if (strings.Contains $ref ".json") }} 
        {{ $urlpath := strings.TrimSuffix (path.Base $fullurl) $fullurl }}
        {{ $refurl := print $urlpath $ref }}
        {{ partial "referenced-field-desc-ref-docs" (dict "url" $refurl) }}
    {{ else if (strings.Contains $ref "#/$defs/") }} 
        {{ $def := (strings.TrimLeft "#/$defs/" $ref) }}
        {{ partial "defs-field-desc-ref-docs" (dict "url" $fullurl "def" $def) }}       
    {{ end }}
{{ end }}
{{ with $value.items.properties }}
    <ul>
    {{ range $childk, $childv := $value.items.properties }}
        {{ partial "field-desc-ref-docs" (dict "value" $childv "key" $childk "url" $.Params.url) }}
    {{ end }}
    </ul>
{{ end }}