{{ $refurl := .url }}
{{ $refjson := getJSON $refurl }}
<ul>
{{ range $key, $value := $refjson.properties }}
    {{ with $value }}
        <li>
            <code>{{ $key }}</code> - {{ $value.description}} 
            {{ with $value.enum }}
                This must be set to one of the following values:
                <ul>
                {{ range $enumval := $value.enum }}
                    <li>
                    {{ $enumval }}
                    </li>
                {{ end }}
                </ul>
            {{ end }}
            {{ with $value.minimum }}
            <br>Minimum value: {{ string ($value.minimum) }}.
            {{ end }}
            {{ with $value.maximum }}
                <br>Maximum value: {{ string ($value.maximum) }}.
            {{ end }}
            {{ with $value.default }}
                <br>Default value: {{ string ($value.default) }}.
            {{ end }}
 {{ end }}
 {{ end }}
</ul>