{{/* 
Called by field-desc-ref-docs or conditional-field-desc-ref-docs 
to format any config field descriptions defined in another file, referenced from the original file 
*/}}

{{ $refurl := .url }}

{{ with resources.GetRemote $refurl }}
  {{ $refjson := . | transform.Unmarshal }}

  <ul>
    {{ range $key, $value := $refjson.properties }}
      {{ with $value }}
        <li>
          <code>{{ $key }}</code> – {{ .description }}

          {{ with .enum }}
            This must be set to one of the following values:
            <ul>
              {{ range . }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          {{ end }}

          {{ if isset . "minimum" }}
            <br>Minimum value: {{ string .minimum }}.
          {{ end }}

          {{ if isset . "maximum" }}
            <br>Maximum value: {{ string .maximum }}.
          {{ end }}

          {{ if isset . "default" }}
            {{ with .default }}
              <br>Default value: {{ string . }}.
            {{ end }}
          {{ end }}
        </li>

        {{/* Second-level properties */}}
        {{ with .properties }}
          <ul>
            {{ range $childk, $childv := . }}
              {{ with $childv }}
                <li>
                  <code>{{ $childk }}</code> – {{ .description }}

                  {{ with .enum }}
                    This must be set to one of the following values:
                    <ul>
                      {{ range . }}
                        <li>{{ . }}</li>
                      {{ end }}
                    </ul>
                  {{ end }}

                  {{ if isset . "minimum" }}
                    <br>Minimum value: {{ string .minimum }}.
                  {{ end }}

                  {{ if isset . "maximum" }}
                    <br>Maximum value: {{ string .maximum }}.
                  {{ end }}

                  {{ if isset . "default" }}
                    {{ with .default }}
                      <br>Default value: {{ string . }}.
                    {{ end }}
                  {{ end }}
                </li>

                {{/* Third-level properties */}}
                {{ with .properties }}
                  <ul>
                    {{ range $childk2, $childv2 := . }}
                      {{ with $childv2 }}
                        <li>
                          <code>{{ $childk2 }}</code> – {{ .description }}

                          {{ with .enum }}
                            This must be set to one of the following values:
                            <ul>
                              {{ range . }}
                                <li>{{ . }}</li>
                              {{ end }}
                            </ul>
                          {{ end }}

                          {{ if isset . "minimum" }}
                            <br>Minimum value: {{ string .minimum }}.
                          {{ end }}

                          {{ if isset . "maximum" }}
                            <br>Maximum value: {{ string .maximum }}.
                          {{ end }}

                          {{ if isset . "default" }}
                            {{ with .default }}
                              <br>Default value: {{ string . }}.
                            {{ end }}
                          {{ end }}
                        </li>
                      {{ end }}
                    {{ end }}
                  </ul>
                {{ end }}

              {{ end }}
            {{ end }}
          </ul>
        {{ end }}

      {{ end }}
    {{ end }}
  </ul>
{{ else }}
  <p>Error: Failed to fetch or parse JSON from <code>{{ $refurl }}</code></p>
{{ end }}