<!DOCTYPE html>
<html{{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
    {{ partial "head.html" . }}
    <body>
        <noscript>You need to enable javascript for this site</noscript>
        {{- partial "header.html" . -}}
        <div class="r3-o-landing r3-o-landing__container">
            <div class="r3-o-row">
                <div class="r3-o-landing__image-wrapper r3-o-col-8 r3-o-col-md-6">
                    <img src="images/png/corda-docs.png" alt="corda-docs" />
                </div>
                <div class="r3-o-landing__content-wrapper r3-o-col-8 r3-o-col-md-6">
                    <h5>{{ .Page.Params.header }}</h5>
                    <p>{{ .Page.Params.tagline }}</p>
                    <a class="corda" href="{{ relref . .Page.Params.target }}">GET STARTED</a>
                    <a class="github" href="https://github.com/corda">GO TO GITHUB</a>         
                </div>
            </div>
        </div>
        <footer>
            <div>
                <p>
                  &copy; R3 Ltd
                  {{ dateFormat "2006" now }}
                </p>
            </div>
        </footer>
    </body>
</html>
