<div id="git" class="col-6 col-md-9 col-lg-10 py-2 align-self-sm-center">
  <div class="row">
    <!-- This is at the bottom of every topic underneath the TOC and content -->
    {{ if and (not .Params.showcommit) $.GitInfo }}
    <div class="d-none d-lg-block col-lg-8 offset-lg-1" >
      {{ T "main_page_last_modified_on" }} {{ .GitInfo.AuthorDate.Format "January 02, 2006 at 3:04 PM PST" }}
      {{ T "main_by" }}
      <a href="{{ .Site.Params.github_repository }}/commit/{{ .GitInfo.Hash }}/">{{ .GitInfo.Subject }}</a> (<a
        href="{{ .Site.Params.github_repository }}/commits/master/content/{{ .File.Lang }}/{{ .File.Path }}">{{ T "main_page_history" }}</a>)
    </div>
    {{ end }}
    <div class="git-edit col-sm-12 col-lg-2 offset-lg-1 justify-content-end">
      {{/* if not .Params.noedit */}}
      {{ if .File }}<a role="button" class="btn btn-secondary btn-sm"
        href="{{ .Site.Params.github_repository }}/edit/master/content/{{ .File.Lang }}/{{ .File.Path }}"
        class="button issue">{{ T "main_edit_this_page" }}</a>{{ end }}
      {{/* end */}}
    </div>
  </div>
</div>
