<div id="git">
  <!-- This is at the bottom of every topic underneath the TOC and content -->
  <hr />
  <div>
    {{/* if not .Params.noedit */}}
    {{ if .File }}<a role="button" class="btn btn-secondary btn-sm"
      href="{{ .Site.Params.github_repository }}/edit/master/content/{{ .File.Lang }}/{{ .File.Path }}"
      class="button issue">{{ T "main_edit_this_page" }}</a>{{ end }}
    {{/* end */}}
  </div>
  {{ if and (not .Params.showcommit) $.GitInfo }}
  <div>
    {{ T "main_page_last_modified_on" }} {{ .GitInfo.AuthorDate.Format "January 02, 2006 at 3:04 PM PST" }}
    {{ T "main_by" }}
    <a href="{{ .Site.Params.github_repository }}/commit/{{ .GitInfo.Hash }}/">{{ .GitInfo.Subject }}</a> (<a
      href="{{ .Site.Params.github_repository }}/commits/master/content/{{ .File.Lang }}/{{ .File.Path }}">{{ T "main_page_history" }}</a>)
  </div>
  {{ end }}
</div>