    <link rel="canonical" href="{{ .Permalink }}" itemprop="url" /> 
    <meta name="url" content="{{ .Permalink }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" /> 
    <!-- open graph -->
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:locale" content="{{ .Language.Lang }}">
    <meta name="language" content="{{ .Language.LanguageName }}">
    {{- if .IsTranslated }}
    {{- range .Translations -}}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}" />
    {{- end -}}
    {{- end -}}
