<div class="r3-o-wrapper-nav">
    <div class="r3-o-nav d-none d-xl-block col-xl-12 pt-3 pt-lg-5 px-3">
        <nav>
            {{- partial "api.html" . -}}
        </nav>
        <nav>
            {{- partial "menu/versions.html" . -}}
        </nav>
        <nav>
            <div>
                {{- partial "menu/pages-in-version.html" . -}}
            </div>
        </nav>
        <nav>
            <div>
                {{/* - partialCached "sections-tree" . - */}}
            </div>
        </nav>
        <button class="x-button d-none">
            {{ partial "svg/close.svg" . }}
        </button>
    </div>
</div>
