<nav class="r3-o-navbar navbar navbar-expand-md navbar-dark flex-column flex-md-row">
    <a class="navbar-brand mr-0 mr-md-2" href="{{- .Site.Home.Permalink -}}">
        <img
            src="/corda.png"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt="corda"
            aria-label="Corda">
        <span class="">{{- .Site.Title -}}</span>
    </a>
    <ul class="navbar-nav ml-sm-2 ml-md-auto">
        <li class="nav-item">
            <a class="nav-link" href="#top">Enterprise</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://www.r3.com">R3 <span class="sr-only">(current)</span></a>
        </li>
        {{ partial "nav/version.html" . }}
        {{ partial "nav/lang.html" . }}
    </ul>
</nav>
