<div class="mt-2">
    <form method="get" action="" class="form-inline">
        <input id="search" name="q" type="text"
         class="form-control form-control-sm" 
         placeholder="search" />
        <button type="submit" class="btn btn-sm btn-primary">Search</button>
    </form>
</div>

<div id="search-results"></div>

<script src="https://unpkg.com/lunr/lunr.js"></script>
<!-- Generate a list of posts so we can display them -->
{{ $p := slice }}
{{ range .Site.RegularPages }}
{{ $post := dict "link" .RelPermalink "title" .Title "content" (substr .Plain 0 200) -}}
{{ $p = $p | append $post -}}
{{ end }}
<script>
    const posts = JSON.parse(
        {{ $p | jsonify }}
  );
    const query = new URLSearchParams(window.location.search);
    const searchString = query.get('q');
    document.querySelector('#search').value = searchString;
    const target = document.querySelector('#search-results');

    // Our index uses title as a reference
    const postsByTitle = posts.reduce((acc, curr) => {
        acc[curr.title] = curr;
        return acc;
    }, {});

    fetch('/search-index.json').then(function (res) {
        return res.json();
    }).then(function (data) {
        const index = lunr.Index.load(data);
        const matches = index.search(searchString);
        const matchPosts = [];
        matches.forEach((m) => {
            matchPosts.push(postsByTitle[m.ref]);
        });

        if (matchPosts.length > 0) {
            target.innerHTML = matchPosts.map(p => {
                if (p === undefined) return '';
                return `<div>
          <h3><a href="${p.link}">${p.title}</a></h3>
          <p>${p.content}...</p>
        </div>`;
            }).join('');
        } else {
            target.innerHTML = `<div>No search results found</div>`;
        }
    });
</script>