<div class="r3-o-wrapper-side col-md-3 col-lg-2">
    <div id="sidebar" class="r3-o-sidebar d-flex">

        <div class="row">
            <button
                class="btn btn-link r3-o-sidebar__toc-toggle d-md-none pt-1 col-1"
                type="button"
                data-toggle="collapse"
                data-target="#r3-docs-nav"
                aria-controls="bd-docs-nav"
                aria-expanded="false"
                aria-label="Toggle docs navigation">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="4" y="6" width="4" height="2" fill="white"/>
                    <rect x="12" y="6" width="18" height="2" fill="white"/>
                    <rect x="4" y="14" width="4" height="2" fill="white"/>
                    <rect x="12" y="14" width="18" height="2" fill="white"/>
                    <rect x="4" y="22" width="4" height="2" fill="white"/>
                    <rect x="12" y="22" width="18" height="2" fill="white"/>
                </svg>


            </button>
            {{ partial "search.html" . }}
            <button
                class="btn btn-link r3-o-sidebar__nav-toggle d-md-none pt-1 pl-0 col-1 collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#r3-docs-nav"
                aria-controls="bd-docs-nav"
                aria-expanded="false"
                aria-label="Toggle docs navigation">


                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 800 200"
                    width="400"
                    height="200"
                    version="1.1">
                    <g>
                      <circle
                        cx="100"
                        cy="100"
                        r="100"
                        fill="#b2d4e5">
                        <animate
                            id="beginAnimation"
                            dur="2.0s"
                            attributeName="r"
                            values="100; 100"
                            fill="freeze"
                            begin="click" />
                      </circle>
                    </g>

                    <g transform="translate(300,0)">
                      <circle
                        cx="100"
                        cy="100"
                        r="100"
                        fill="#b2d4e5"></circle>

                      <!-- horizontal line of cross -->
                      <path
                        d="M50 50 l100 0"
                        stroke="white"
                        stroke-width="20"
                        stroke-linecap="round">
                        <animate
                            dur="0.3s"
                            begin="beginAnimation.begin"
                            attributeName="d"
                            values="M50 50 l100 0; M50 50 l100 100;"
                            fill="freeze" />
                        <animate
                            dur="0.2s"
                            begin="unAnimate.begin"
                            attributeName="d"
                            values="M50 50 l100 100; M50 50 l100 0"
                            fill="freeze" />
                      </path>
                      <path
                        d="M50 100 l100 0"
                        stroke="white"
                        stroke-width="20"
                        stroke-linecap="round">

                        <animate
                            attributeName="stroke-width"
                            values="20;0"
                            dur="0.1s"
                            begin="beginAnimation.begin"
                            fill="freeze"/>
                            <animate
                            attributeName="stroke-width"
                            values="0;0;20"
                            dur="0.2s"
                            begin="unAnimate.begin"
                            keyTimes="0; 0.8; 1"
                            fill="freeze"/>
                        </path>
                        <path
                            d="M50 150 l100 0"
                            stroke="white"
                            stroke-width="20"
                            stroke-linecap="round">
                            <animate
                                dur="0.3s"
                                begin="beginAnimation.begin"
                                attributeName="d"
                                values="M50 150 l100 0; M50 150 l100 -100"
                                fill="freeze" />
                                <animate
                                dur="0.2s"
                                begin="unAnimate.begin"
                                attributeName="d"
                                values="M50 150 l100 -100;M50 150 l100 0"
                                fill="freeze" />
                        </path>
                    </g>
                    <!--  control element-->
                    <g transform="translate(600,0)">
                      <circle
                        cx="100"
                        cy="100"
                        r="100"
                        fill="#b2d4e5">
                        <animate
                            id="unAnimate"
                            dur="2.0s"
                            attributeName="r"
                            values="100; 100"
                            fill="freeze"
                            begin="click" />
                      </circle>
                    </g>
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" width="100" height="100" version="1.1">

                    <circle  cx="100" cy="100" r="100" fill="#b2d4e5" >

                    </circle>

                    <!-- vertical line -->
                    <path d="M100 50 l0 100" stroke="white" stroke-width="20" stroke-linecap="round" >
                      <animate
                        dur="0.3s" begin="startAnimation.begin" attributeName="d" values="M100 50 l0 100; M100 100 l0 0; M100 150 l50 -100" fill="freeze"   />
                      <animate
                        dur="0.3s" begin="reverseAnimation.begin" attributeName="d" values="M100 150 l50 -100; M100 100 l0 0; M100 50 l0 100" fill="freeze" />
                    </path>

                    <!-- horizontal line -->
                    <path d="M50 100 l100 0" stroke="white" stroke-width="20" stroke-linecap="round">
                      <animate
                        dur="0.3s" begin="startAnimation.begin" attributeName="d" values="M50 100 l100 0; M100 100 l0 0; M50 100 l50 50" fill="freeze" />
                        <animate
                        dur="0.3s" begin="reverseAnimation.begin" attributeName="d" values=" M50 100 l50 50; M100 100 l0 0; M50 100 l100 0" fill="freeze" />
                    </path>

                    <!--  controls -->
                    <!-- these are on top of the visible circle.  Their radius changes depending on which is active
                    Opacity is set to 0 so you can't see them-->
                    <circle cx="100" cy="100" r="100" fill-opacity="0">
                      <animate dur="0.01s" id="startAnimation" attributeName="r" values="100; 0" fill="freeze" begin="click" />
                      <animate dur="0.01s" attributeName="r" values="0; 100" fill="freeze" begin="reverseAnimation.end" />
                    </circle>
                    <circle cx="100" cy="100" r="0" fill-opacity="0">
                      <animate dur="0.001s" id="reverseAnimation" attributeName="r" values="100; 0" fill="freeze" begin="click" />
                      <animate dur="0.001s" attributeName="r" values="0; 100" begin="startAnimation.end"  fill="freeze"  />
                    </circle>
                  </svg>
            </button>
        </div>



        <nav
            class="collapse r3-o-sidebar__nav-content"
            id="r3-docs-nav"
            aria-label="Main navigation">
            <nav class="r3-o-sidebar__navbar-nav">
                {{- partial "api.html" . -}}
            </nav>
            <nav>
                <div>
                    {{- partialCached "sections-tree" . -}}
                </div>
            </nav>
        </nav>



        <!--

        <nav class="navbar navbar-expand-md navbar-light">
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="collapse
                navbar-collapse"
                id="navbarNav">
                <nav class="r3-o-sidebar__navbar-nav">
                    {{- partial "api.html" . -}}
                </nav>
                <nav>
                    <div>
                        {{- partialCached "sections-tree" . -}}
                    </div>
                </nav>
            </div>
        </nav>
    -->

        <!--
            <form
                role="search"
                class="bd-search d-flex align-items-center">
                <span
                    class="algolia-autocomplete"
                    style="position: relative; display: inline-block; direction: ltr;">
                        <input
                        type="search"
                        class="form-control ds-input"
                        id="search-input"
                        placeholder="Search..."
                        aria-label="Search for..."
                        autocomplete="off"
                        data-docs-version="4.4"
                        spellcheck="false"
                        role="combobox"
                        aria-autocomplete="list"
                        aria-expanded="false"
                        aria-owns="algolia-autocomplete-listbox-0"
                        dir="auto"
                        style="position: relative; vertical-align: top;">
                            <pre aria-hidden="true"
                                style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
                    <span
                        class="ds-dropdown-menu"
                        role="listbox"
                        id="algolia-autocomplete-listbox-0"
                        style="position: absolute; top: 100%; z-index: 100; left: 0px; right: auto; display: none;">
                            <div class="ds-dataset-1"></div>
                    </span>
                </span>
            </form> -->


    </div>
</div>
