.r3-o-container-fluid{
    padding-left: 48px;
    padding-right: 48px;
}

$wrapper-object: ".#{$class-object-prefix}wrapper";

#{$wrapper-object}-side {
    background-color: #FFF;
    order: 0;

    @media screen and (max-width: 1199px) {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        order: 0;
        z-index: 100;
    }
}

#{$wrapper-object}-main {
    min-height: calc(100vh - 56px - 80px);
    order: 2;
    padding: 0px 0px 40px 56px;

    main {
        img {
            @include img-fluid;
        }
    }
}

#{$wrapper-object}-nav {
    flex-basis: 311px;
    padding: 0 0 !important;
    order: 1;
    transition: transform 0.15s;
    transition-timing-function: ease-out;


    @media screen and (max-width: 1199px) {
        z-index: 200;
        position: fixed;
        top: 0;
        left: -100%;
        right: 0;
        bottom: 0;

        &.show-nav {
            transform: translateX(100%);
        }
    }
}
