.alert {
  border-radius: 4px;
  padding: 1.5rem 1.5rem 1.5rem 4.375rem;
  margin-bottom: 1.5rem;

  code {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.alert-icon {
  margin-right: 0.75rem;
}

.docs .alert {
  margin: 2rem -1.5rem;
}

.alert .alert-link {
  text-decoration: underline;
}

.alert-dark {
  color: $white;
  background-color: $gray-500;

  a,
  .alert-link {
    color: $white;
  }
}

.alert-warning {
  background: $beige;
  color: $text-alert;

  a,
  .alert-link {
    color: $text-alert;
  }

  .r3-o-icon-warning {
    position: absolute;
    left: 1.5rem;
    top: 1.65rem;

    &::before {
      content: url("/icons/warning.svg");
      position: relative;
      display: block;
      height: 24px;
    }
  }
}

.alert-primary {
  color: $red-700;
  background-color: $red-300;

  a,
  .alert-link {
    color: $red-700;
  }

  .r3-o-icon-important {
    position: absolute;
    left: 1.5rem;
    top: 1.625rem;

    &::before {
      content: url("/icons/important.svg");
      position: relative;
      display: block;
      height: 24px;
      width: 24px;
    }
  }
}

.alert-info {
  color: $blue;
  background-color: $blue-300;

  a,
  .alert-link {
    color: $blue;
  }

  .r3-o-icon-note{
    position: absolute;
    left: 1.5rem;
    top: 1.675rem;

    &::before {
      content: url("/icons/info.svg");
      position: relative;
      display: block;
      height: 24px;
    }
  }
}
