
.btn {
  border-radius: 4rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  font-size: $font-size-base;
  padding: 0.375rem 1.5rem;

  &.btn-primary,
  .btn-primary:hover {
    color: $white;
  }

  &.btn-outline-dark {
    border-width: 2px;
    text-decoration: none;

    &:hover {
      background-color: $black;
    }
  }

  &:active:focus {
    box-shadow: none;
  }

  &.rounded {
    border-radius: 40px !important;
    border: solid 2px $gray-900;
    padding: 8px 24px;
    min-height: 40px;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      background: $gray-900;
      color: $white;
    }
  }

  &.external {
    &::after {
      content: " ";
      background: url(/icons/icon-external.svg) no-repeat center center;
      width: 1rem;
      height: 1rem;
      display: inline-block;
      position: relative;
      top: -1px;
      left: 5px;
    }

    &:hover {
      &::after {
        background: url(/icons/icon-external-white.svg) no-repeat center center;
      }
    }

  }
}

a.btn{
  line-height: 1.2;

  &.external {
    &::after {
      top: 0;
    }
  }
}

.navbar .btn-link {
  color: $gray-100;
  padding: 0.4375rem 0;
}

#mode,
#top-search-btn {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#mode {
  margin-right: 0;
}

.btn-link:focus {
  outline: 0;
  box-shadow: none;
}

#navigation {
  margin-left: 1.25rem;
}

@include media-breakpoint-up(md) {
  #mode {
    margin-right: 0.5rem;
  }

  .navbar .btn-link {
    padding: 0.5625em 0.25rem 0.5rem 0.125rem;
  }
}

//.navbar .btn-link:hover {
//  color: $navbar-light-hover-color;
//}
//
//.navbar .btn-link:active {
//  color: $navbar-light-active-color;
//}

body .toggle-dark {
  display: block;
}

body .toggle-light {
  display: none;
}

body.dark .toggle-light {
  display: block;
}

body.dark .toggle-dark {
  display: none;
}

.btn-clipboard {
  display: none;
}

@include media-breakpoint-up(md) {
  .doks-clipboard {
    position: relative;
    float: right;
  }

  .btn-clipboard {
    position: absolute;
    top: 1rem;
    right: 0.25rem;
    z-index: 10;
    display: block;
    padding: 0.25rem 0.5rem;
    font-size: $font-size-sm;
  }
}

.copy-status::after {
  content: "Copy";
  display: block;
  color: $gray-800;
  font-weight: 600;
  background-color: $gray-600;
  font-size: $font-size-xs;
  padding: 0 .25rem;
  border-radius: .25rem;
}

.copy-status:hover::after {
  content: "Copy";
  display: block;
  background-color: $gray-400;
}

.copy-status:focus::after,
.copy-status:active::after {
  content: "Copied";
  display: block;
}
