table,
.table {
  @extend .table;

  margin: 1rem 0 3rem 0;
  font-size: $font-size-sm;

  > :not(caption) > * > * {
    background-color: unset;
    border-bottom: 1px solid $gray-200;
  }

  thead {
    tr {
      border-bottom: 2px solid $gray-200;
    }
  }

  tbody {
    tr {
      &:nth-child(2n+1) {
        background-color: $gray-300;
      }
    }
  }
}
