/**
* Importing font families.
*/

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600");

@import url("https://fonts.google.com/selection?selection.family=Poppins:100,200,200i,300,300i,400,400i,500,700");

$font-family: 'Source Sans Pro', sans-serif;

$poppins-font: 'Poppins', sans-serif;

body {
  font-family: $font-family;
}
