/**
* Typography; Sizes, line heights, margins, display
*/

h1, h2, h3, h4, h5, h6 {
    color: #2f353f;
    margin-top: 44px;
    margin-bottom: 22px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

p {
    color: $grey-500;
    font-size: 18px;
    line-height: 1.7;
}

ul, li {
    color: #2f353f;
}

article {
    h1 {
        font-size: 1.875rem;
        margin-top: 1rem;
    }
    h2 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1.125rem;
    }
    p {
        color: $grey-800;
        font-size: 1rem;
        line-height: 1.5;
    }
}
