{{/*Initial read of descriptions from Corda JSON config files.*/}}
{{/*Check that a URL to config was passed to the shortcode */}}
{{ with $.Params.url }}
    {{ $json := getJSON $.Params.url }}
    <p>{{ $json.description }}</p>
    {{ range $key, $value := $json.properties }}
        {{/* Render the details of the value*/}}
        {{ with $value }}
            <ul>
                {{ partial "field-desc-ref-docs" (dict "value" $value "key" $key "url" $.Params.url) }}
                <ul>
                {{/*Check if there is a value at a second level*/}}
                {{ range $childk, $childv := $value.properties }}
                    {{ with $childv }}
                        {{ partial "field-desc-ref-docs" (dict "value" $childv "key" $childk "url" $.Params.url) }}
                        {{/*Check if there is a value at a third level*/}}
                        {{ range $childk2, $childv2 := $childv.properties }}
                            {{ with $childv2 }}
                                <ul>{{ partial "field-desc-ref-docs" (dict "value" $childv2 "key" $childk2 "url" $.Params.url) }}</ul>
                            {{ end }}
                        {{ end }}   
                    {{ end }}
                {{ end }}
                {{/*Check if there is a conditional set of values at the top level of values*/}}
                {{ with $value.allOf }}
                    {{ partial "conditional-field-desc-ref-docs" (dict "value" $value "url" $.Params.url) }}
                {{ end }}
                </ul>      
            </ul>
        {{ end }}
    {{ end }}
    {{/*Check if there is a conditional set of values at the top level*/}} 
    {{ with $json.allOf }}
        {{ partial "conditional-field-desc-ref-docs" (dict "value" $json "url" $.Params.url) }}
    {{ end }}
{{ end }}