<!DOCTYPE html>
<html{{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
    {{ partial "head.html" . }}
    <body>
        <noscript>You need to enable javascript for this site</noscript>
        {{- partial "cookie-banner.html" . -}}
        {{- partial "header.html" . -}}
        <div class="container-fluid r3-o-container-fluid">
            <div class="row position-relative">
                <div class="r3-o-wrapper-main col-12 py-5">
                    {{- block "main" . -}}{{- end -}}
                </div>
            </div>
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "scripts.html" . -}}
    </body>
</html>
