footer {
  background-color: $gray-800;
  font-size: $font-size-sm;

  .footer-links {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    padding-left: 0;
    max-height: 8.5rem;

    li {
      margin-bottom: 0.5rem;
      list-style: none;
    }
  }

  .footer-cnt {
    padding-top: 3.5rem;
    padding-bottom: 2.25rem;

    .row {
      display: flex;
      justify-content: space-between;

      .footer-logo {
        display: inline-block;
        flex: 1 0 335px;
        margin-bottom: 2rem;

        .docs {
          margin-left: 1.875rem;
        }

        .list-inline-item:not(:last-child) {
          margin-right: 1.5rem;
        }

        a {
          &:hover,
          &:active {
            text-decoration: none;
          }
        }
      }

      .footer-urls {
        display: flex;
        flex: 1 1 auto;

        a {
          color: $gray-100;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .footer-cnt {
      .row {
        .footer-logo {
          margin-bottom: 0;
        }

        .footer-urls {
          max-width: 480px;
        }
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    .container-fluid {
      padding-left: 7.5rem;
      padding-right: 7.5rem;
    }
  }
}

.copyright {
  background-color: $black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: $white;
  text-align: center;

  ul {
    margin-bottom: 0;

    li {
      font-size: $font-size-xs;
      margin-bottom: 0;

      &.list-inline-item:not(:last-child) {
        margin-right: 0.75rem;
      }

      &:first-child::before {
        display: none;
      }

      &::before {
        content: "•";
        color: $red;
        margin-right: 0.85rem;
        display: inline-block;
        position: relative;
        top: 2px;
      }

      a {
        color: $gray-100;
      }
    }
  }
}
