header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;

  .navbar {
    right: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);

    &::after {
      content: "";
      background: url("images/bg-dark.jpg") no-repeat top center;
      background-size: cover;
      background-attachment: fixed;
      opacity: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }

    @include media-breakpoint-up(md) {
      padding-bottom: 0.75rem;
    }

    .container-fluid {
      justify-content: flex-start;

      .navbar-brand {
        .bg-secondary {
          position: relative;
          top: -2px;
        }
      }
    }

    #header-links {
      display: block;
      width: 100%;
      text-align: right;
      border-bottom: 1px solid #535870;
      margin: 0.25rem 0.5rem 0.75rem;
      padding-bottom: 0.5rem;

      a {
        color: $gray-100;
        font-size: $font-size-sm;
        line-height: 1.15;
        font-weight: 600;
        margin-left: 1.5rem;

        &:hover {
          text-decoration: underline;
        }
      }

      @include media-breakpoint-down(lg) {
        margin-left: 0;
        margin-right: 0;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    #top-search-btn {
      align-self: flex-end;
      margin-left: auto;
    }

    #top-search {
      display: flex;
      flex-basis: auto;
      flex-grow: 1;
      align-items: center;
      max-width: 32rem;
    }

    #top-search-checkbox:checked ~ #top-search {
      display: flex !important;
      width: 100%;
      margin-left: auto;

      .navbar-form {
        margin-right: 0;

        @include media-breakpoint-up(md) {
          margin-right: 0.7rem;
        }
      }
    }

    #mode {
      align-self: flex-end;
    }

    #top-menu {
      display: flex;
      flex-basis: auto;
      flex-grow: 1;
      align-items: center;
      width: 100vw;
      padding-right: 24px;
      padding-left: 24px;
      margin-right: -24px;
      margin-left: -24px;
      margin-top: 0.5rem;
      margin-bottom: -0.5rem;
      padding-bottom: 0.25rem;
      background-color: $background-menu;

      .navbar-nav {
        flex-direction: row;
      }

      @include media-breakpoint-up(sm) {
        width: auto;
        padding: 0;
        margin: auto;
        background: none;
      }
    }
  }


}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.navbar-text {
  margin-left: 1rem;
}

.navbar-brand {
  font-weight: $headings-font-weight;
  padding: 0;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:active {
  color: $body-color;
}

.navbar-light .navbar-nav .active .nav-link {
  color: $primary;
}

@include media-breakpoint-up(md) {
  .navbar-brand {
    font-size: $font-size-xl;
  }

  .navbar-text {
    margin-left: 1.25rem;
  }
}

.navbar-nav {
  font-size: $font-size-base;

  a {
    &.nav-link {
      margin-right: 2rem;
      margin-left: 0;
      font-weight: 500;
      padding: 0.5rem 0 0.25rem 0 !important;
      border-bottom: solid 2px transparent;
      font-size: 0.875rem;

      &:hover,
      &.show {
        border-bottom: solid 2px $primary;
      }

      @include media-breakpoint-up(md) {
        font-size: 1rem;
        padding: 0.5rem 0 0.25rem 0 !important;
      }

      @include media-breakpoint-up(lg) {
        margin-right: 1.2rem;
        margin-left: 1.2rem;
      }
    }

    &.dropdown-toggle {
      &::after {
        width: 10px;
        line-height: 0;
        top: 0.1rem;
        left: 0.1rem;
        position: relative;
        border: none;
        content: url("/icons/icon-arrow-down-white.svg");
        transition: transform 0.35s ease;
      }
    }

    &[aria-expanded="true"]::after {
      transform: rotate(-180deg);
    }
  }

  ul {
    &.dropdown-menu {
      position: absolute;
      background-color: $white;
      margin-top: 10px;
      border-radius: 3px;
      padding: 0;
      border: solid 1px rgba(1, 1, 1, 0.25);
      max-height: 30rem;
      overflow-y: auto;

      li {
        border-top: 1px solid rgba(1, 1, 1, 0.25);
        padding: 0.25rem 0;

        &:nth-child(1) {
          border-top: none;
        }

        &:hover {
          background-color: $gray-400;
        }

        a {
          &.dropdown-item {
            color: $black;
            padding: 0.25rem 3rem 0.25rem 1rem;

            &:active {
              font-weight: 600;
              background-color: $gray-400;
            }

            &.active {
              font-weight: 600;
              background-color: $white;

              &::after {
                width: 1rem;
                line-height: 0;
                position: absolute;
                right: 1rem;
                margin-top: 0.2rem;
                margin-left: 0.5rem;
                content: url("/icons/check2.svg");
              }

              &:hover {
                background-color: $gray-400;
              }
            }
          }
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track{
        background: $gray-300;
      }

      &::-webkit-scrollbar-thumb{
        background: $gray-600;
      }

      &:hover {
        scrollbar-width: thin;
        scrollbar-color: $gray-300 $gray-700;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $gray-800;
      }
    }
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: $white;
      opacity: 1;
      transition: none;

      &:hover,
      &:active,
      &:focus {
        color: $white;
        opacity: 1;
        transition: none;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .nav-item {
    margin-left: 0.5rem;
  }
}

@include media-breakpoint-down(sm) {
  .nav-item:first-child {
    margin-left: 0;
  }
}

@include media-breakpoint-down(md) {
  .navbar .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@include media-breakpoint-up(lg) {
}

.break {
  flex-basis: 100%;
  height: 0;
}

@include media-breakpoint-up(xxl) {
  header {
    .navbar {
      background-color: rgba(0, 0, 0, 0.8);

      &::after {
        background-size: cover;
      }
    }
  }
}

.home {
  .navbar {
    border-bottom: 0;
  }

  .navbar-collapse {
    justify-content: flex-end;

    .main-nav {
      display: none;
    }
  }
}

.navbar-form {
  position: relative;
  margin-top: 0.25rem;
  flex: 1 1 11rem;
}

@include media-breakpoint-up(md) {
  .navbar-brand {
    margin-right: 1rem !important;
    margin-left: 0.56rem;
  }

  .main-nav .nav-item:first-child .nav-link,
  .social-nav .nav-item:first-child .nav-link {
    padding-left: 0;
  }

  .main-nav .nav-item:last-child .nav-link,
  .social-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }

  .navbar-form {
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1.5rem;
  }
}

@include media-breakpoint-up(xl) {
  .navbar-form {
    max-width: 32rem;
  }
}

.form-control.is-search {
  padding: 0.313rem 4rem 0.313rem 2rem;
  background: $gray-800;
  border: solid 1px $gray-600;
  color: $gray-200;
}

.btn_search {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  border-radius: 0 50rem 50rem 0;
  width: 56px;
  padding: 1px;
  background-color: #53585f;
}

.form-control:focus {
  box-shadow: none;
  background: $gray-800;
}

/*
 * Source: https://medium.com/creative-technology-concepts-code/responsive-mobile-dropdown-navigation-using-css-only-7218e4498a99
*/

/* Style the menu icon for the dropdown */

.navbar .menu-icon {
  cursor: pointer;

  /* display: inline-block; */

  /* float: right; */
  padding: 1.125rem 0.625rem;
  margin: 0 0 0 -0.625rem;

  /* position: relative; */
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: $navbar-light-color;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.navbar .menu-icon .navicon::before,
.navbar .menu-icon .navicon::after {
  background: $navbar-light-color;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon::before {
  top: 5px;
}

.navbar .menu-icon .navicon::after {
  top: -5px;
}

/* Add the icon and menu animations when the checkbox is clicked */

.navbar .menu-btn {
  display: none;
}

//.navbar .menu-btn:checked ~ .navbar-collapse {
//  display: block;
//  max-height: 100vh;
//
//  .navbar-collapse {
//    display: block;
//  }
//}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon::before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon::after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::after {
  top: 0;
}

.banner-message {
  background-color: #ec1d25;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
}

.banner-message__item {
  display: none;
}

.banner-message__item-active {
  display: block;
  position: relative;
}
