body.home {
  .container,
  .container-fluid,
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1488px;
    padding-right: var(--bs-gutter-x, 24px);
    padding-left: var(--bs-gutter-x, 24px);
  }

  header {
    .navbar {
      #header-links {
        margin-left: 0;
        margin-right: 0;
      }

      .navbar-brand {
        margin-left: 0;
      }

      #mode {
        margin-right: 0;
      }

      #top-search-btn {
        visibility: hidden;
      }
    }
  }

  #home-introduce {
    display: block;
    text-align: center;
    color: $gray-100;
    margin-top: 4rem;
    margin-bottom: 4.5rem;
    padding-top: 0;
    padding-bottom: 0;

    h1 {
      margin-bottom: 0.5rem;
    }

    .subtitle {
      font-size: 1.125rem;
    }

    #home-search {
      padding-top: 0.5rem;

      form {
        margin: 0 auto;
        max-width: 54rem;

        input {
          padding: 0.563rem 4rem 0.563rem 2rem;
        }

        #suggestions {
          left: 0;
          right: auto;
        }
      }
    }

    &::after {
      width: 100%;
      content: "";
      background: url("images/bg-dark.jpg") no-repeat top center;
      background-size: cover;
      background-attachment: fixed;
      opacity: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      overflow-y: hidden;
      height: 434px;
    }

    @include media-breakpoint-up(md) {
      form {
        .btn_search {
          width: 15%;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      margin-top: 3rem;
      .subtitle {
        font-size: 1.5rem;
      }
    }
  }

  .card {
    h3.card-title {
      text-align: center;

      a {
        display: block;
        margin-bottom: 2rem;
      }
    }

    .card-body {
      text-align: center;

      p {
        margin-bottom: 0.5rem;
      }
    }

    .card-footer {
      text-align: center;
      background: none;
      border: none;
      margin-bottom: 2rem;
    }

    &.no-border {
      .card-body {
        padding-bottom: 0;
      }
    }
  }

  #home-carousel {
    background-color: $gray-300;
    border-radius: 4px;
    color: $gray-800;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    padding: 2.5rem 1.5rem 1.5rem;

    .slick-track {
      display: flex;
      align-items: center;
    }

    .slide {
      display: flex;
      flex-wrap: wrap;
      padding-left: 1px;

      img {
        border-radius: 4px;
        border: solid 1px $submenu-bar-color;
        background-color: #fff;
        padding: 0.5rem;
        object-fit: contain;
        width: 180px;
        height: 180px;
        margin: 0 auto 2rem;
      }

      h5 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 0;
      }

      a {
        font-weight: 600;
      }
    }

    .slick-prev,
    .slick-next {
      display: none !important;
      width: 2.5rem;
      height: 2.5rem;
    }

    .slick-prev {
      left: 2.5rem;

      &:before {
        content: url("data:image/svg+xml, %3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1953 31.6667L5.00019 20L16.1953 8.33335' stroke='%235B6B88' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='6.44531' y1='20.6138' x2='34.0004' y2='20.6138' stroke='%235B6B88' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }

    .slick-next {
      right: 2.5rem;

      &:before {
        content: url("data:image/svg+xml, %3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8044 8.33331L34.9996 20L23.8044 31.6666' stroke='%235B6B88' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='33.5549' y1='19.3862' x2='5.99982' y2='19.3862' stroke='%235B6B88' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }

    .slick-dots {
      position: relative;
      width: auto;
      margin: 1rem auto 0;
      bottom: 0;

      li button:before {
        font-size: 0.75rem;
        color: $gray-500;
      }
    }

    @include media-breakpoint-up(md) {
      padding: 2.5rem 7.625rem 1.75rem;

      .slide {
        flex-wrap: nowrap;

        img {
          margin: 0 3rem 0 0;
        }
      }

      .slick-prev,
      .slick-next {
        display: block !important;
      }
    }
  }

  a.btn{
    line-height: 1.2;

    &.external {
      &::after {
        top: 2px;
      }
    }
  }

  footer {
    .container-fluid {
      padding-right: var(--bs-gutter-x, 24px);
      padding-left: var(--bs-gutter-x, 24px);
    }
  }

  &.dark{
    .card {
      a {
        color: $gray-100;
      }
    }

    #home-carousel {
      background-color: darken($gray-800, 2.5%);

      .slide {
        color: $gray-100;
      }
    }
  }
}
