.docs-content > h2[id]::before,
.docs-content > h3[id]::before,
.docs-content > h4[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  content: "";
}

.dark{
  .card {
    a {
      color: $gray-100;
    }
  }
}

.card {

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.025);
  }
  h3.card-title {
    text-align: center;

    a {
      display: block;
      margin-bottom: 2rem;
    }
  }

  .card-body {
    text-align: center;
    padding: 0 2rem 2rem;
    p {
      margin-bottom: 0.5rem;
    }
  }

  .card-footer {
    text-align: center;
    background: none;
    border: none;
    margin-bottom: 2rem;
  }

  &.no-border {
    .card-body {
      padding-bottom: 0;
    }
  }
}

.anchor {
  visibility: hidden;
  padding-left: 0.5rem;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
  text-decoration: none;
}

.edit-page {
  margin-bottom: 2rem;
  font-size: $font-size-sm;
}

.edit-page svg {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}

p.meta {
  margin-top: 0.5rem;
  font-size: $font-size-base;
}

.breadcrumb {
  margin-top: 1.625rem;
  font-size: $font-size-sm;

  a {
    text-decoration: none;
  }

  .breadcrumb-item.active {
    color: inherit;
    font-weight: 600;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    font-weight: 400;
  }
}
