.docs-links,
.docs-toc {
  scrollbar-width: thin;
  scrollbar-color: $gray-300 $gray-600;
}

.docs-links::-webkit-scrollbar,
.docs-toc::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.docs-links::-webkit-scrollbar-track,
.docs-toc::-webkit-scrollbar-track {
  background: $gray-300;
}

.docs-links::-webkit-scrollbar-thumb,
.docs-toc::-webkit-scrollbar-thumb {
  background: $gray-600;
}

.docs-links:hover,
.docs-toc:hover {
  scrollbar-width: thin;
  scrollbar-color: $gray-300 $gray-700;
}

.docs-links:hover::-webkit-scrollbar-thumb,
.docs-toc:hover::-webkit-scrollbar-thumb {
  background: $gray-700;
}

.docs-links::-webkit-scrollbar-thumb:hover,
.docs-toc::-webkit-scrollbar-thumb:hover {
  background: $gray-800;
}

.docs-links h3,
.page-links h3 {
  font-size: $font-size-base;
  margin: 1.25rem 0 0.5rem 0;
  padding: 1.5rem 0 0 0;
}

@include media-breakpoint-up(lg) {
  .docs-links h3 {
    margin: 1.125rem 1.5rem 0.5rem 0;
    padding: 0.2rem 0 0 0;
  }

  .page-links h3 {
    margin: 1rem 1.5rem 0.5rem 0;
    padding: 0;
  }
}

a.docs-link {
  color: $black;
  display: block;
  padding: 0.125rem 0 0 1rem;
  font-size: $font-size-sm;
}

.page-links li ul li {
  border-top: none;
  padding-left: 1rem;
  margin-top: 0;
  padding-top: 0;
}

.page-links a {
  color: $body-color;
  display: block;
  padding: 0.125rem 0;
  font-size: $font-size-base * 0.9375;
  word-break: break-word;
}

.docs-link:hover,
.docs-link.active,
.page-links a:hover {
  text-decoration: none;
  color: $link-color;
}

.docs-link.active,
.page-links a.active{
  font-weight: 600;
}

.docs-links h3.sidebar-link,
.page-links h3.sidebar-link {
  text-transform: none;
  font-size: $font-size-md;
  font-weight: normal;
}

.docs-links h3.sidebar-link a,
.page-links h3.sidebar-link a {
  color: $body-color;
}

.docs-links h3.sidebar-link a:hover,
.page-links h3.sidebar-link a:hover {
  text-decoration: underline;
}

.docs-links {
  .nav-item {
    display: block;
  }

  li {
    button {
      margin: 0.5625rem 0;
      padding-left: 1rem;
      padding-right: 0;
      font-size: $font-size-base * 0.9375;
      font-weight: 500;
      color: $black;
      text-align: left;
      width: 100%;
      background: none;

      &.active {
        font-weight: 600;
      }

      &::before {
        width: 10px;
        line-height: 0;
        float: left;
        display: inline-block;
        position: relative;
        top: 10px;
        margin-left: -1rem;
        content: url("/icons/icon-arrow-down.svg");
        transition: transform 0.35s ease;
      }

      &[aria-expanded="true"]::before {
        transform: rotate(-180deg);
      }

      &.collapsed::before {
        transform: rotate(0deg) !important;
      }
    }

    &.active > button,
    &.active-page > button {
      color: $link-color;

      &::before {
        transform: rotate(-180deg);
      }
    }

    a {
      &.docs-link {
        font-size: $font-size-base;
        font-weight: 600;
      }
    }
  }

  div {
    &.sub-menu {
      padding-left: 1rem;

      li {
        a {
          &.docs-link {
            font-size: $font-size-base * 0.9375;
            font-weight: 400;
          }
        }
      }

      .sub-menu {
        padding-left: 1rem;
        border-left: 1px solid $submenu-bar-color;
        margin-top: 0.125rem;
        margin-bottom: 0.125rem;
        margin-left: 1rem;

        li {
          a {
            &.docs-link {
              font-size: $font-size-sm;
            }

            &:nth-child(1) {
              padding-top: 0;
            }

            &:nth-last-child {
              margin-bottom: 0;
              padding-bottom: 0;
            }
          }
        }
      }

      button {
        &::after {
          margin-top: 0.6rem;
        }
      }
    }
  }

  & > ul {
    & > li {
      & > button {
        font-size: $font-size-base;
        font-weight: 600 !important;
        color: $body-color;
      }
    }
  }

  a {
    &.docs-link {
      margin: 0.25rem 0;
    }

    &:hover,
    &.active {
      text-decoration: underline;
      color: $link-color;
    }
  }
}
